.settings {
  margin-bottom: 0.5em;
}

.setting {
  position: relative;
  margin-bottom: 4px;
}

.setting > select,
.setting > input[type="text"],
.setting > .submenu-setting,
.setting > .slider,
.setting > .other {
  position: absolute;
  left: 7em;
}

.setting input[type="checkbox"],
.setting input[type="radio"] {
  margin-left: 0px;
  margin-right: 5px;
}

.slider,
.other {
  display: inline-block;
}

.component {
  min-width: 24em;
  padding: 0;
  margin-bottom: 0.5em;
}

.component > .header {
  position: relative;
  background-color: #eee;
  border: solid 1px #bbb;
  border-radius: 10px 10px 0 0;
  padding: 4px;
}

.component > .content {
  background-color: #fff;
  border: solid 1px #bbb;
  border-radius: 0 0 10px 10px;
  border-top: 0;
  padding: 10px;
  padding-bottom: 0;
}

.component.submenu > .content,
.component.options > .content {
  padding-bottom: 5px;
}

.component.closed .header {
  border-radius: 10px;
  min-height: 1.1em;
}

.component > .header > h1 {
  display: inline-block;
  font-weight: 600;
  font-size: 1em;
  margin: 0;
  margin-left: 0.5em;
}

.component > .content > h2 {
  display: inline-block;
  font-weight: 600;
  font-size: 1em;
  margin: 0;
  margin-bottom: 0.5em;
}

.component.selected > .content {
  background-color: #eef;
}

.component.selected > .header {
  background-color: #cce;
}

.components > ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.components > ul > li {
  display: table-row;
}

.components > ul > li > div {
  display: table-cell;
}

.tree ul {
  list-style: none;
  padding-left: 1.5em;
  margin: 0;
}

.tree > ul {
  padding-left: 0;
}

.tree ul li {
  vertical-align: top;
}

.tree .node-name {
  white-space: nowrap;
  line-height: 1.5em;
}

.tree .node-name i {
  width: 1.25em;
  vertical-align: middle;
}

.clickable {
  cursor: pointer;
}

div.spacer {
  clear: both;
}

.selector {
  display: inline-block;
  width: 1em;
  height: 1em;
  float: right;
}

input:disabled + label {
  color: #ccc;
}

.title {
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

button {
  min-height: 1.1em;
  border: solid 1px #bbb;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #cce;
}

.disabled,
.disabled:hover {
  color: #ccc !important;
  cursor: default;
}

.submenu {
  position: absolute;
  top: -1em;
  min-width: 21em;
  min-height: 3em;
  z-index: 2;
}

.choice {
  display: inline-block;
}

.tooltip {
  display: inline-block;
  position: relative;
  text-align: left;
}

.tooltip .bottom {
  min-width: 150px;
  top: 60px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 5px 10px;
  color: #444444;
  background-color: #eeeeee;
  font-weight: normal;
  font-size: 13px;
  border-radius: 8px;
  position: absolute;
  z-index: 99999999;
  box-sizing: border-box;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.8s;
  pointer-events: none;
}

.tooltip:hover .bottom {
  visibility: visible;
  opacity: 1;
}

.tooltip .bottom i {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -12px;
  width: 24px;
  height: 12px;
  overflow: hidden;
}

.tooltip .bottom i::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: 50%;
  transform: translate(-50%, 50%) rotate(45deg);
  background-color: #eeeeee;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

.content > h4 {
  margin-top: 0;
  margin-bottom: 0;
}
