a,
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
  color: #1b6690 !important;
  color: inherit;
  cursor: pointer;
}

@media (min-width: 48em) {
  body {
    font-size: 16px;
  }

  .home-menu {
    text-align: left;
  }

  .home-menu ul {
    float: right;
  }
}

.home-menu {
  border: 1px solid #ddd;
  background-color: #fff;
}

.main-content {
  padding: 0.5em 1em;
  margin-top: 2.5em;
}

.pure-menu-children {
  border: 1px solid #ddd;
  border-top: 0;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.5;
  z-index: 1000;
}

.modal {
  position: absolute;
  left: 50%;
  top: 25%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  border: 1px solid #ddd;
  background-color: #fff;
  z-index: 1001;
  border-radius: 10px;
  box-shadow: 3px 3px 10px 5px #555;
}

.modal > .header {
  font-size: 1.1em;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
  border-radius: 10px 10px 0 0;
  padding: 5px 10px;
}

.modal > .content {
  padding: 10px 10px 0 10px;
}

button {
  border-radius: 5px;
}

form > .error-message {
  border: 1px solid #b44;
  background-color: #fdd;
  color: #b44;
  padding: 5px;
}

form .error .error-message {
  color: #b44;
}

form .error input {
  border: 1px solid #b44 !important;
  color: #b44;
}

form .error label {
  color: #b44;
}

.horizontal-spacer {
  display: inline-block;
}

.spacer {
  display: block;
}

label div {
  vertical-align: middle;
}

.colour-preview {
  display: inline-block;
  border: 1px solid #ddd;
  width: 1.5em;
  height: 1.5em;
}
