@font-face {
  font-family: "SiteDefault";
  font-style: normal;
  font-weight: 400;
  src: url("../font/gotham/Gotham-Light.otf") format("opentype");
}

@font-face {
  font-family: "SiteDefault";
  font-style: normal;
  font-weight: 600;
  src: url("../font/gotham/Gotham-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Black Chancery";
  font-style: "normal";
  font-weight: 400;
  src: url("../font/black-chancery/BLKCHCRY.TTF") format("truetype");
}

@font-face {
  font-family: "Cardinal";
  font-style: "normal";
  font-weight: 400;
  src: url("../font/cardinal/Cardinal.ttf") format("truetype");
}

@font-face {
  font-family: "Carolinga";
  font-style: "normal";
  font-weight: 400;
  src: url("../font/carolinga/CAROBTN_.TTF") format("truetype");
}

@font-face {
  font-family: "Lohengrin";
  font-style: "normal";
  font-weight: 400;
  src: url("../font/lohengrin/Lohengrin.ttf") format("truetype");
}

@font-face {
  font-family: "Magic School";
  font-style: "normal";
  font-weight: 400;
  src: url("../font/magic-school/MagicSchoolOne.ttf") format("truetype");
}

@font-face {
  font-family: "Prince Valiant";
  font-style: "normal";
  font-weight: 400;
  src: url("../font/prince-valiant/PrinceValiant.ttf") format("truetype");
}

body {
  font-family: "SiteDefault", sans-serif;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1,
h2,
h3 {
  font-weight: 500;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
  color: #1b6690 !important;
  color: inherit;
  cursor: pointer;
}

a.disabled {
  color: #ccc !important;
  cursor: not-allowed;
}

p {
  margin-top: 0;
}

@media (min-width: 48em) {
  body {
    font-size: 16px;
  }

  .home-menu {
    text-align: left;
  }

  .home-menu ul {
    float: right;
  }
}

.home-menu {
  border: 1px solid #ddd;
  background-color: #fff;
}

.main-content {
  grid-area: content;
  overflow: auto;
}

.pure-menu-children {
  border: 1px solid #ddd;
  border-top: 0;
}

.pure-menu-selected {
  background-color: #f0f0f0;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.5;
  z-index: 1000;
}

.modal {
  position: fixed;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1001;
}

.modal.dialog {
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 3px 3px 10px 5px #555;
}

.modal > .header {
  font-size: 1.1em;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
  border-radius: 10px 10px 0 0;
  padding: 5px 10px;
}

.modal > .content {
  padding: 10px 10px 0 10px;
}

button {
  border-radius: 5px;
}

form > .form-message {
  border: 1px solid #4a4;
  background-color: #efe;
  color: #4a4;
  padding: 5px;
}

form > .error-message {
  border: 1px solid #b44;
  background-color: #fdd;
  color: #b44;
  padding: 5px;
}

form .error .error-message {
  color: #b44;
}

form .error input {
  border: 1px solid #b44 !important;
  color: #b44;
}

form .error label {
  color: #b44;
}

.horizontal-spacer {
  display: inline-block;
}

.spacer {
  display: block;
}

label div {
  vertical-align: middle;
}

.colour-preview {
  display: inline-block;
  border: 1px solid #ddd;
  width: 1.2em;
  height: 1.2em;
}

.blazonry {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 1em;
}

.blazonry .blazon {
  font-size: 1.2em;
  font-style: italic;
  margin-top: 5px;
}

.blazonry .disclaimer {
  font-size: 0.8em;
  color: #aaa;
}

.attribution {
  margin-bottom: 1em;
}

.attribution ul {
  padding-left: 1em;
}

.tags {
  display: inline;
}

.tag {
  position: relative;
  display: inline-block;
  font-size: 0.8em;
  height: 1.2em;
  border-radius: 999px;
  padding: 4px 8px;
  white-space: nowrap;
  line-height: 1.2em;
  margin-bottom: 2px;
}

.tag i.fas {
  width: 1.25em;
}

.tag.public {
  background-color: #beb;
  color: #282;
}

.tag.private {
  background-color: #e55;
  color: #fff;
}

.tag.attitude {
  background-color: #fdd;
  color: #933;
}

.tag.facing {
  background-color: #ccf;
  color: #339;
}

.tag.attribute {
  background-color: #f80;
  color: #fff;
}

.tag.modifier {
  background-color: #eeb;
  color: #771;
}

.tag.shading {
  background-color: #555;
  color: #fff;
}

.tag.fixed-tincture {
  background-color: #888;
  color: #fff;
}

.tag .delete {
  display: none;
}

.tag:hover .delete {
  z-index: 1000;
  display: inline;
  cursor: pointer;
  position: absolute;
  right: -7px;
  top: -7px;
  background: #bb2f2e;
  color: #ff;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
}

.count-badge {
  display: inline-block;
  font-size: 0.8em;
  margin-left: 0.5em;
  height: 1em;
  border-radius: 999px;
  white-space: nowrap;
  line-height: 1em;
  background-color: #ddd;
  color: #555;
  padding: 0.2em 0.4em;
}

.loader {
  color: #ccc;
  font-size: 20px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

.selected-arms {
  margin-bottom: 0.5em;
}

.selected-arms > div {
  display: table-cell;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* new layout */

#app {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: [start] auto [end];
  grid-template-rows: [top] 2.5em [header-end] auto [bottom];
  grid-template-areas:
    "header"
    "content";
  overflow: auto;
}

.header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ddd;
  height: 2.5em;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header > ul {
  display: flex;
}

.header > ul > li {
  display: inline-block;
  flex: 1;
  vertical-align: middle;
}

.header > ul > li a {
  display: block;
  text-decoration: none;
  white-space: nowrap;
  text-align: center;
  padding: 0 0.5em;
  line-height: 2.5em;
  flex: 1;
}

li.nav-menu-item a:hover {
  background-color: #eee;
}

.nav-menu-has-children > .nav-menu-link:after {
  content: "\25BE";
}

.nav-menu-has-children {
  position: relative;
}

.nav-menu-children {
  display: none;
  position: absolute;
  left: 0;
  z-index: 3;
  border: 1px solid #ddd;
  border-top: 0;
  width: 100%;
}

.nav-menu-allow-hover:hover > .nav-menu-children {
  display: block;
  position: absolute;
}

.nav-menu-item.selected {
  background-color: #f0f0f0;
}

.release-row {
  display: flex;
}

.release-row > div {
  flex: 1;
}

.release-row .info {
  text-align: justify;
  min-width: 30em;
  padding-right: 1em;
}

@media all and (max-width: 60em) {
  .release-row {
    flex-direction: column;
  }
}

.button {
}

.button.primary {
  background-color: #359db7;
  color: #fff;
}

.button {
  white-space: nowrap;
  padding: 5px 10px;
  border-radius: 5px;
  border: 0;
  display: inline-block;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  user-select: none;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  padding: 0.5em 1em;
  color: rgba(0, 0, 0, 0.8);
  border: none rgba(0, 0, 0, 0);
  background-color: #e6e6e6;
  text-decoration: none;
  border-radius: 2px;
}

.button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.button-hover,
.button:hover,
.button:focus {
  background-image: linear-gradient(
    transparent,
    rgba(0, 0, 0, 0.05) 40%,
    rgba(0, 0, 0, 0.1)
  );
}
.button:focus {
  outline: 0;
}
.button-active,
.button:active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset,
    0 0 6px rgba(0, 0, 0, 0.2) inset;
  border-color: #000;
}

.button.disabled,
.button.disabled:hover,
.button.disabled:focus,
.button.disabled:active {
  border: none;
  background-image: none;
  opacity: 0.4;
  cursor: not-allowed;
  box-shadow: none;
}

.success-message {
  border: 1px solid #4a4;
  background-color: #efe;
  color: #4a4;
  padding: 0.5em 1em;
  border-radius: 5px;
  margin-bottom: 10px;
}

.error-message {
  border: 1px solid #b44;
  background-color: #fdd;
  color: #b44;
  padding: 0.5em 1em;
  border-radius: 5px;
  margin-bottom: 10px;
}
