.ui-component {
  padding: 0;
  margin-bottom: 0.5em;
}

.ui-component > .header {
  background-color: #eee;
  border: solid 1px #ddd;
  border-radius: 10px 10px 0 0;
  padding: 4px;
}

.ui-component > .content {
  background-color: #fff;
  border: solid 1px #ddd;
  border-radius: 0 0 10px 10px;
  border-top: 0;
  padding: 10px;
}

.ui-component > .header > h1 {
  display: inline-block;
  font-weight: 400;
  font-size: 1em;
  margin: 0;
  margin-left: 0.5em;
}

.ui-component > .content > h2 {
  display: inline-block;
  font-weight: 400;
  font-size: 1em;
  margin: 0;
  margin-bottom: 0.5em;
}

.ui-tree ul {
  list-style: none;
  padding-left: 1.3em;
  margin: 0;
}

.ui-tree > ul {
  padding-left: 0;
}

.ui-tree ul li {
  vertical-align: top;
}

.ui-tree .node-name {
  display: inline-block;
  white-space: nowrap;
  line-height: 1.5em;
  color: #1b6690;
}

.ui-tree .selected {
  font-weight: 600;
  color: #1b6690;
}

.ui-icon {
  color: #777;
}

.selected .ui-icon {
  color: inherit;
}

.ui-tree .node-icon {
  display: inline-block;
  width: 1.3em;
}

.ui-tree .node-name i {
  width: 1.25em;
  vertical-align: middle;
}

.clickable {
  cursor: pointer;
}

.ui-setting {
  position: relative;
  margin-bottom: 4px;
}

.ui-setting > label {
  display: inline-block;
  width: 13em;
}

.ui-setting > label.for-checkbox {
  width: inherit;
}

.ui-setting > .option {
  position: relative;
  display: inline-block;
}

.ui-submenu {
  position: absolute;
  left: -10em;
  width: 25em;
  min-height: 3em;
  z-index: 2;
}

.ui-setting input[type="checkbox"],
.ui-setting input[type="radio"] {
  margin-left: 0px;
  margin-right: 5px;
}

.ui-hover-menu {
  position: relative;
}

.ui-hover-menu .ui-menu {
  position: absolute;
  display: none;
  top: 0em;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  z-index: 10;
}

.ui-menu-item {
  padding-left: 5px;
  padding-right: 5px;
}

.ui-menu-item:hover {
  background-color: #eee;
}

ul.ui-menu {
  list-style: none;
  padding-left: 1.3em;
  margin: 0;
  padding-left: 0;
}

ul.ui-menu li {
  vertical-align: top;
  white-space: pre;
}

li.ui-menu-header {
  color: #000;
  font-weight: 600;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.disabled,
.disabled:hover {
  color: #ddd !important;
  cursor: default;
}
