body {
  background-color: #fff;
  overflow: hidden;
  padding: 10px;
  margin: 0;
}

* {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}

a,
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}

a,
a:hover,
a:visited {
  color: #1b6690;
}

.controls {
  padding: 10px;
}

mask path.overlap {
  stroke-width: 0.1;
  fill: none;
  stroke: #fff;
}

.escutcheon {
  margin-bottom: 1em;
}

.part {
  margin-bottom: 1em;
}

.field .parts {
  position: relative;
  padding-left: 2em;
  margin-top: 0.5em;
}

.field .parts .change {
  position: absolute;
  left: 1em;
}

.field .parts .remove {
  position: absolute;
  left: 1em;
}

.setting {
  position: relative;
}

.setting select {
  position: absolute;
  left: 7em;
}

.ordinaries {
  margin-top: 1em;
}

.title {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.field {
  width: 100%;
  padding-top: 0.5em;
  border-top: solid 1px #bbb;
}
