body {
  background-color: #fff;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

* {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
