body {
  background-color: #fff;
  overflow: hidden;
  padding: 10px;
  margin: 0;
}

svg {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}

a,
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}

a,
a:hover,
a:visited {
  color: #1b6690;
}

a:hover {
  cursor: pointer;
}

.controls {
  padding: 10px;
}

mask path.overlap {
  stroke-width: 0.1;
  fill: none;
  stroke: #fff;
}

.general {
  margin-bottom: 1em;
}

.part {
  margin-bottom: 1em;
}

.parts {
  position: relative;
  padding-left: 2em;
  margin-top: 0.5em;
}

.change {
  position: absolute;
  left: 0;
}

.remove {
  position: absolute;
  left: 0;
}

.add {
  margin-left: 1em;
}

.setting {
  position: relative;
}

.setting select {
  position: absolute;
  left: 7em;
}

.ordinaries-section {
  margin-top: 1em;
}

.ordinaries {
  position: relative;
  padding-left: 2em;
}

.title {
  font-weight: 600;
  margin-bottom: 0.5em;
}

.field {
  width: 100%;
  padding-top: 0.5em;
  border-top: solid 1px #bbb;
}

.ordinary {
  margin-bottom: 1em;
  border-top: solid 1px #bbb;
  padding-top: 0.5em;
}

.charges-section {
  margin-top: 1em;
}

.charges {
  position: relative;
  padding-left: 2em;
}

div.charge {
  margin-bottom: 1em;
  border-top: solid 1px #bbb;
  padding-top: 0.5em;
}

.outline {
  stroke: #000;
  stroke-width: 0.5;
  fill: none;
}

.disclaimer {
  font-size: 0.8em;
  color: #bbb;
}

.blazon {
  font-size: 1.2em;
  font-style: italic;
}

.tree {
  margin-bottom: 1em;
}

.tree ul {
  list-style: none;
  padding-left: 1.5em;
  margin: 0;
}

.tree > ul {
  padding-left: 0;
}

.tree ul li {
}

.tree span.node-name i {
  width: 1.5em;
}

.clickable {
  cursor: pointer;
}
