{:paths ["src"
         "backend/src"]

 :deps {binaryage/devtools {:mvn/version "1.0.3"}
        borkdude/sci {:mvn/version "0.2.6"}
        cljs-http/cljs-http {:mvn/version "0.1.46"}
        com.andrewmcveigh/cljs-time {:mvn/version "0.5.2"}
        com.taoensso/timbre {:mvn/version "5.1.2"}
        com.wsscode/async {:mvn/version "2021.01.15"}
        day8.re-frame/re-frame-10x {:mvn/version "1.1.13"}
        day8.re-frame/tracing {:mvn/version "0.6.2"}
        funcool/hodgepodge {:mvn/version "0.1.4"}
        hiccups/hiccups {:mvn/version "0.3.0"}
        hickory/hickory {:mvn/version "0.7.1"}
        metosin/reitit {:mvn/version "0.5.15"}
        re-frame/re-frame {:mvn/version "1.2.0"}
        reagent/reagent {:mvn/version "1.1.0"}
        thheller/shadow-cljs {:mvn/version "2.12.7"}
        zprint/zprint {:mvn/version "1.1.2"}
        com.taoensso/tufte {:mvn/version "2.2.0"}}}

