;; shadow-cljs configuration
{:deps true

 :nrepl {:middleware [refactor-nrepl.middleware/wrap-refactor]
         :port 9700}

 :builds {:frontend
          {:target :browser
           :asset-path "/js/generated"
           :js-options {:js-package-dirs ["./node_modules"]}
           :devtools {:before-load heraldry.frontend.main/stop
                      :after-load heraldry.frontend.main/start
                      :http-root "./assets"
                      :http-port 8081
                      :preloads [devtools.preload
                                 day8.re-frame-10x.preload]}
           :compiler-options {:output-feature-set :es6
                              :warnings {:redef false}}

           :modules {:main {:init-fn heraldry.frontend.main/init
                            :preloads [heraldry.frontend.preload]}}

           :dev {:output-dir "./build/dev/generated"
                 :compiler-options {:closure-defines {re-frame.trace.trace-enabled? true
                                                      day8.re-frame.tracing.trace-enabled? true}}}

           :release {:output-dir "./build/prod/js/generated"}}

          :backend
          {:target :node-library
           :exports {:handler heraldry.backend.api.core/handler
                     :site_handler heraldry.backend.site/handler
                     :options_handler heraldry.backend.api.core/options-handler
                     :migration_handler heraldry.backend.migration.core/migrate-handler
                     :rollback_handler heraldry.backend.migration.core/rollback-handler
                     :collect_statistics_handler heraldry.backend.monitoring.core/collect-statistics-handler
                     :collect_user_statistics_handler heraldry.backend.monitoring.core/collect-user-statistics-handler}
           :js-options {:js-package-dirs ["./backend/node_modules"]}
           :compiler-options {:output-feature-set :es6
                              :warnings {:redef false}}

           :dev {:output-to "./backend/build/dev/backend.js"}

           :release {:output-to "./backend/build/prod/backend.js"}}

          :short-url
          {:target :node-library
           :exports {:handler heraldry.backend.short-url/handler}
           :js-options {:js-package-dirs ["./backend/node_modules"]}
           :compiler-options {:output-feature-set :es6
                              :warnings {:redef false}}

           :dev {:output-to "./backend/build/dev/short_url.js"}

           :release {:output-to "./backend/build/prod/short_url.js"}}

          :manage
          {:target :node-script
           :main heraldry.manage/main
           :output-to "./backend/build/manage/manage.js"
           :compiler-options {:output-feature-set :es6
                              :warnings {:redef false}}}

          :test
          {:target :node-test
           :output-to "./backend/build/test/node-tests.js"
           :compiler-options {:warnings {:redef false}}
           :ns-regexp "test"
           :autorun true}}}

