;; shadow-cljs configuration
{:deps true

 :nrepl {:middleware [cider.nrepl/cider-middleware
                      refactor-nrepl.middleware/wrap-refactor]
         :port 9700}

 :builds {:frontend
          {:target :browser
           :asset-path "/js/generated"
           :js-options {:js-package-dirs ["./node_modules"]}
           :devtools {:after-load heraldicon.frontend.main/init
                      :http-root "./assets"
                      :http-port 8081
                      :preloads [devtools.preload
                                 day8.re-frame-10x.preload]}
           :compiler-options {:output-feature-set :es6
                              :warnings {:redef false}}

           :modules {:main {:init-fn heraldicon.frontend.main/init
                            :preloads [heraldicon.frontend.preload]}}

           :dev {:output-dir "./build/dev/generated"
                 :compiler-options {:closure-defines {re-frame.trace.trace-enabled? true
                                                      day8.re-frame.tracing.trace-enabled? true}}}}

          :backend
          {:target :node-library
           :exports {:handler heraldicon.backend.api.core/handler
                     :discord_handler heraldicon.backend.discord/handler
                     :site_handler heraldicon.backend.site/handler
                     :options_handler heraldicon.backend.api.core/options-handler
                     :migration_handler heraldicon.backend.migration.core/migrate-handler
                     :rollback_handler heraldicon.backend.migration.core/rollback-handler
                     :collect_statistics_handler heraldicon.backend.monitoring.core/collect-statistics-handler
                     :collect_user_statistics_handler heraldicon.backend.monitoring.core/collect-user-statistics-handler
                     :canary_handler heraldicon.backend.canary/handler}
           :js-options {:js-package-dirs ["./backend/node_modules"]}
           :compiler-options {:output-feature-set :es6
                              :warnings {:redef false}
                              :source-map true
                              :source-map-detail-level :all}

           :dev {:output-to "./backend/build/dev/backend.js"}}

          :manage
          {:target :node-script
           :main heraldicon.manage/main
           :output-to "./backend/build/manage/manage.js"
           :compiler-options {:output-feature-set :es6
                              :warnings {:redef false}}}

          :test
          {:target :node-test
           :output-to "./backend/build/test/node-tests.js"
           :main heraldicon.test-runner/main
           :compiler-options {:warnings {:redef false}}
           :ns-regexp "-test$"
           :autorun true}}}
