{:linters {:unsorted-required-namespaces {:level :warning}
           :single-key-in {:level :warning}
           :consistent-alias {:aliases {clojure.string str
                                        goog.string gstring
                                        reframe.core rf}}}
 :lint-as {heraldicon.backend.migration.macros/defmigration clojure.core/fn
           heraldicon.frontend.macros/reg-event-db re-frame.core/reg-event-db
           taoensso.tufte/defnp clojure.core/defn}}
