@keyframes all-theme-transition-purpure {
  0% { fill: #913a6a;}
  2.6315789473684212% { fill: #4e2f7a;}
  5.2631578947368425% { fill: #800080;}
  7.894736842105263% { fill: #912d76;}
  10.526315789473685% { fill: #9116a1;}
  13.157894736842104% { fill: #992288;}
  15.789473684210526% { fill: #880088;}
  18.42105263157895% { fill: #d576ad;}
  21.05263157894737% { fill: #b60a9b;}
  23.68421052631579% { fill: #630b57;}
  26.31578947368421% { fill: #aa235a;}
  28.94736842105263% { fill: #5a60ff;}
  31.57894736842105% { fill: #dba5f4;}
  34.21052631578947% { fill: #b083cd;}
  36.8421052631579% { fill: #c797e7;}
  39.473684210526315% { fill: #884e91;}
  42.10526315789474% { fill: #aa72be;}
  44.73684210526316% { fill: #aa63c4;}
  47.36842105263158% { fill: #a04463;}
  50% { fill: #b284d5;}
  52.63157894736842% { fill: #77468e;}
  55.26315789473684% { fill: #aa7aba;}
  57.89473684210526% { fill: #a56b99;}
  60.526315789473685% { fill: #955f81;}
  63.1578947368421% { fill: #cd00ed;}
  65.78947368421052% { fill: #a44476;}
  68.42105263157895% { fill: #99004d;}
  71.05263157894737% { fill: #a23bcc;}
  73.6842105263158% { fill: #670099;}
  76.3157894736842% { fill: #833d8f;}
  78.94736842105263% { fill: #a057a3;}
  81.57894736842105% { fill: #7b2bad;}
  84.21052631578948% { fill: #a84078;}
  86.84210526315789% { fill: #6d2077;}
  89.47368421052632% { fill: #993366;}
  92.10526315789474% { fill: #9166cb;}
  94.73684210526316% { fill: #7d076e;}
  97.36842105263158% { fill: #6607bd;}
  100% { fill: #913a6a;}
}

@keyframes all-theme-transition-orange {
  0% { fill: #e58a39;}
  6.666666666666667% { fill: #ed5f00;}
  13.333333333333334% { fill: #de5307;}
  20% { fill: #eb7711;}
  26.666666666666668% { fill: #ff6600;}
  33.333333333333336% { fill: #e35d03;}
  40% { fill: #e88c3c;}
  46.666666666666664% { fill: #ff5500;}
  53.333333333333336% { fill: #bf8540;}
  60% { fill: #f17716;}
  66.66666666666667% { fill: #e48634;}
  73.33333333333333% { fill: #f38f00;}
  80% { fill: #ff9933;}
  86.66666666666667% { fill: #feab33;}
  93.33333333333333% { fill: #db7c07;}
  100% { fill: #e58a39;}
}

@keyframes all-theme-transition-argent-dark {
  0% { fill: #e5e5e5;}
  14.285714285714286% { fill: #929899;}
  28.571428571428573% { fill: #e7e7e7;}
  42.857142857142854% { fill: #eeeeee;}
  57.142857142857146% { fill: #dddde6;}
  71.42857142857143% { fill: #ececec;}
  85.71428571428571% { fill: #dddddd;}
  100% { fill: #e5e5e5;}
}

@keyframes all-theme-transition-argent {
  0% { fill: #f6f6f6;}
  5.555555555555555% { fill: #ffffff;}
  11.11111111111111% { fill: #eeeeee;}
  16.666666666666668% { fill: #fefefe;}
  22.22222222222222% { fill: #fffff9;}
  27.77777777777778% { fill: #f8f7ec;}
  33.333333333333336% { fill: #fef8ed;}
  38.888888888888886% { fill: #f8f4db;}
  44.44444444444444% { fill: #f2efec;}
  50% { fill: #eae8e3;}
  55.55555555555556% { fill: #ececec;}
  61.111111111111114% { fill: #bcc6cc;}
  66.66666666666667% { fill: #adadad;}
  72.22222222222223% { fill: #eaeded;}
  77.77777777777777% { fill: #fffefe;}
  83.33333333333333% { fill: #cdcdcd;}
  88.88888888888889% { fill: #cccccc;}
  94.44444444444444% { fill: #f4f7f9;}
  100% { fill: #f6f6f6;}
}

@keyframes all-theme-transition-copper {
  0% { fill: #953d02;}
  11.11111111111111% { fill: #e5cdc0;}
  22.22222222222222% { fill: #bf7532;}
  33.333333333333336% { fill: #cc9c66ff;}
  44.44444444444444% { fill: #e77c56;}
  55.55555555555556% { fill: #ab6334;}
  66.66666666666667% { fill: #c4d600;}
  77.77777777777777% { fill: #fe893b;}
  88.88888888888889% { fill: #b87333;}
  100% { fill: #953d02;}
}

@keyframes all-theme-transition-gules {
  0% { fill: #bb2f2e;}
  2.6315789473684212% { fill: #d40000;}
  5.2631578947368425% { fill: #ff0000;}
  7.894736842105263% { fill: #bf111b;}
  10.526315789473685% { fill: #da121a;}
  13.157894736842104% { fill: #dd2222;}
  15.789473684210526% { fill: #e64625;}
  18.42105263157895% { fill: #da251d;}
  21.05263157894737% { fill: #e20909;}
  23.68421052631579% { fill: #dc281e;}
  26.31578947368421% { fill: #ed1c24;}
  28.94736842105263% { fill: #e7423f;}
  31.57894736842105% { fill: #fa5aff;}
  34.21052631578947% { fill: #f78fa9;}
  36.8421052631579% { fill: #fb1d7b;}
  39.473684210526315% { fill: #ea3951;}
  42.10526315789474% { fill: #9a2829;}
  44.73684210526316% { fill: #ec1642;}
  47.36842105263158% { fill: #dc2764;}
  50% { fill: #b7431b;}
  52.63157894736842% { fill: #e87b97;}
  55.26315789473684% { fill: #da0012;}
  57.89473684210526% { fill: #ea3b0c;}
  60.526315789473685% { fill: #a3403d;}
  63.1578947368421% { fill: #ca6548;}
  65.78947368421052% { fill: #fc0000;}
  68.42105263157895% { fill: #ce0f25;}
  71.05263157894737% { fill: #ce1126;}
  73.6842105263158% { fill: #e02a36;}
  76.3157894736842% { fill: #e10000;}
  78.94736842105263% { fill: #8f3d3e;}
  81.57894736842105% { fill: #cb7e75;}
  84.21052631578948% { fill: #a12823;}
  86.84210526315789% { fill: #ce0001;}
  89.47368421052632% { fill: #bf2033;}
  92.10526315789474% { fill: #cc3333;}
  94.73684210526316% { fill: #dc2e44;}
  97.36842105263158% { fill: #b71d1b;}
  100% { fill: #bb2f2e;}
}

@keyframes all-theme-transition-white {
  0% { fill: #ffffff;}
  33.333333333333336% { fill: #fcfcfc;}
  66.66666666666667% { fill: #dddddd;}
  100% { fill: #ffffff;}
}

@keyframes all-theme-transition-murrey {
  0% { fill: #a32c45;}
  2.857142857142857% { fill: #630727;}
  5.714285714285714% { fill: #5f005f;}
  8.571428571428571% { fill: #650f70;}
  11.428571428571429% { fill: #6b175f;}
  14.285714285714286% { fill: #570b63;}
  17.142857142857142% { fill: #7f066c;}
  20% { fill: #45073c;}
  22.857142857142858% { fill: #76183f;}
  25.714285714285715% { fill: #0008f1;}
  28.571428571428573% { fill: #af37e6;}
  31.428571428571427% { fill: #8043a7;}
  34.285714285714285% { fill: #9439d1;}
  37.142857142857146% { fill: #5f3665;}
  40% { fill: #7c4391;}
  42.857142857142854% { fill: #7d3996;}
  45.714285714285715% { fill: #6f2f45;}
  48.57142857142857% { fill: #803db4;}
  51.42857142857143% { fill: #533063;}
  54.285714285714285% { fill: #7c498d;}
  57.142857142857146% { fill: #76476c;}
  60% { fill: #68425a;}
  62.857142857142854% { fill: #8f00a5;}
  65.71428571428571% { fill: #9a234e;}
  68.57142857142857% { fill: #6b0035;}
  71.42857142857143% { fill: #dd2a6c;}
  74.28571428571429% { fill: #800040;}
  77.14285714285714% { fill: #6b2e44;}
  80% { fill: #703d72;}
  82.85714285714286% { fill: #972947;}
  85.71428571428571% { fill: #670000;}
  88.57142857142857% { fill: #660033;}
  91.42857142857143% { fill: #dc2e44;}
  94.28571428571429% { fill: #610000;}
  97.14285714285714% { fill: #66023c;}
  100% { fill: #a32c45;}
}

@keyframes all-theme-transition-carnation {
  0% { fill: #e9bfa2;}
  6.666666666666667% { fill: #ebbb9a;}
  13.333333333333334% { fill: #ffbb99;}
  20% { fill: #f2a772;}
  26.666666666666668% { fill: #eebb99;}
  33.333333333333336% { fill: #f2b398;}
  40% { fill: #fcd3bc;}
  46.666666666666664% { fill: #fcbf8c;}
  53.333333333333336% { fill: #ffe4d6;}
  60% { fill: #e6b488;}
  66.66666666666667% { fill: #c9ae9c;}
  73.33333333333333% { fill: #d2b2a1;}
  80% { fill: #fab587;}
  86.66666666666667% { fill: #f6ddcd;}
  93.33333333333333% { fill: #f7dcc7;}
  100% { fill: #e9bfa2;}
}

@keyframes all-theme-transition-amaranth {
  0% { fill: #b51973;}
  12.5% { fill: #dd2a6c;}
  25% { fill: #8f3d74;}
  37.5% { fill: #887ecb;}
  50% { fill: #a9309f;}
  62.5% { fill: #b51872;}
  75% { fill: #df4661;}
  87.5% { fill: #6f1045;}
  100% { fill: #b51973;}
}

@keyframes all-theme-transition-sable {
  0% { fill: #333333;}
  5% { fill: #332e2d;}
  10% { fill: #000000;}
  15% { fill: #2a292a;}
  20% { fill: #4b6667;}
  25% { fill: #241f21;}
  30% { fill: #513951;}
  35% { fill: #3c1e15;}
  40% { fill: #44457e;}
  45% { fill: #342818;}
  50% { fill: #1c2f36;}
  55% { fill: #191b21;}
  60% { fill: #1c1616;}
  65% { fill: #2d2d2d;}
  70% { fill: #161616;}
  75% { fill: #3f3f3f;}
  80% { fill: #16161b;}
  85% { fill: #323233;}
  90% { fill: #292f33;}
  95% { fill: #131313;}
  100% { fill: #333333;}
}

@keyframes all-theme-transition-or {
  0% { fill: #f2bc51;}
  2.6315789473684212% { fill: #fcc900;}
  5.2631578947368425% { fill: #ffd700;}
  7.894736842105263% { fill: #f0ca00;}
  10.526315789473685% { fill: #fcdd09;}
  13.157894736842104% { fill: #ffdd11;}
  15.789473684210526% { fill: #f5d306;}
  18.42105263157895% { fill: #fcdb00;}
  21.05263157894737% { fill: #fcef3c;}
  23.68421052631579% { fill: #ffd200;}
  26.31578947368421% { fill: #eac102;}
  28.94736842105263% { fill: #ffcd50;}
  31.57894736842105% { fill: #ffd72e;}
  34.21052631578947% { fill: #fff05a;}
  36.8421052631579% { fill: #fcf9d1;}
  39.473684210526315% { fill: #ffdd63;}
  42.10526315789474% { fill: #f5e73e;}
  44.73684210526316% { fill: #fcdc90;}
  47.36842105263158% { fill: #fcf7b2;}
  50% { fill: #f8d689;}
  52.63157894736842% { fill: #ffe9c0;}
  55.26315789473684% { fill: #fff44b;}
  57.89473684210526% { fill: #ffd71b;}
  60.526315789473685% { fill: #f7d2a5;}
  63.1578947368421% { fill: #fffa00;}
  65.78947368421052% { fill: #e7cd54;}
  68.42105263157895% { fill: #fcd116;}
  71.05263157894737% { fill: #eac05d;}
  73.6842105263158% { fill: #ffc800;}
  76.3157894736842% { fill: #ccab66;}
  78.94736842105263% { fill: #c9d487;}
  81.57894736842105% { fill: #f9c629;}
  84.21052631578948% { fill: #ffe66e;}
  86.84210526315789% { fill: #ffcd00;}
  89.47368421052632% { fill: #cc9933;}
  92.10526315789474% { fill: #fcca58;}
  94.73684210526316% { fill: #ffe572;}
  97.36842105263158% { fill: #f4cb08;}
  100% { fill: #f2bc51;}
}

@keyframes all-theme-transition-tenne {
  0% { fill: #bf7433;}
  3.225806451612903% { fill: #bf7532;}
  6.451612903225806% { fill: #c67000;}
  9.67741935483871% { fill: #884411;}
  12.903225806451612% { fill: #9d5333;}
  16.129032258064516% { fill: #9d5324;}
  19.35483870967742% { fill: #8a7d00;}
  22.580645161290324% { fill: #ada10b;}
  25.806451612903224% { fill: #8d6e00;}
  29.032258064516128% { fill: #746c06;}
  32.25806451612903% { fill: #9a6d04;}
  35.483870967741936% { fill: #a59a06;}
  38.70967741935484% { fill: #a69b06;}
  41.935483870967744% { fill: #916708;}
  45.16129032258065% { fill: #b27400;}
  48.38709677419355% { fill: #847b00;}
  51.61290322580645% { fill: #705d00;}
  54.83870967741935% { fill: #97590d;}
  58.064516129032256% { fill: #666400;}
  61.29032258064516% { fill: #c15f1d;}
  64.51612903225806% { fill: #6c5801;}
  67.74193548387096% { fill: #e88c3c;}
  70.96774193548387% { fill: #953d02;}
  74.19354838709677% { fill: #997533;}
  77.41935483870968% { fill: #a1683c;}
  80.64516129032258% { fill: #a25426;}
  83.87096774193549% { fill: #ce7e19;}
  87.09677419354838% { fill: #cc6633;}
  90.3225806451613% { fill: #ae7e57;}
  93.54838709677419% { fill: #966756;}
  96.7741935483871% { fill: #4a412a;}
  100% { fill: #bf7433;}
}

@keyframes all-theme-transition-brunatre {
  0% { fill: #725942;}
  7.6923076923076925% { fill: #693310;}
  15.384615384615385% { fill: #c67533;}
  23.076923076923077% { fill: #411c06;}
  30.76923076923077% { fill: #6b4c2e;}
  38.46153846153846% { fill: #6d5412;}
  46.15384615384615% { fill: #734829;}
  53.84615384615385% { fill: #745a49;}
  61.53846153846154% { fill: #693f23;}
  69.23076923076923% { fill: #663300;}
  76.92307692307692% { fill: #c0694f;}
  84.61538461538461% { fill: #ffe572;}
  92.3076923076923% { fill: #492004;}
  100% { fill: #725942;}
}

@keyframes all-theme-transition-helmet-medium {
  0% { fill: #989898;}
  33.333333333333336% { fill: #707070;}
  66.66666666666667% { fill: #919191;}
  100% { fill: #989898;}
}

@keyframes all-theme-transition-vert {
  0% { fill: #3e933f;}
  2.5641025641025643% { fill: #037536;}
  5.128205128205129% { fill: #008000;}
  7.6923076923076925% { fill: #008351;}
  10.256410256410257% { fill: #078930;}
  12.820512820512821% { fill: #119933;}
  15.384615384615385% { fill: #009900;}
  17.94871794871795% { fill: #0ca644;}
  20.512820512820515% { fill: #5ab532;}
  23.076923076923077% { fill: #009a3d;}
  25.641025641025642% { fill: #008f4c;}
  28.205128205128204% { fill: #225500;}
  30.76923076923077% { fill: #00a94d;}
  33.333333333333336% { fill: #5aff5a;}
  35.8974358974359% { fill: #80ebba;}
  38.46153846153846% { fill: #3ebc6f;}
  41.02564102564103% { fill: #64de57;}
  43.58974358974359% { fill: #3e8f4c;}
  46.15384615384615% { fill: #5cbc63;}
  48.717948717948715% { fill: #60b866;}
  51.282051282051285% { fill: #7d9732;}
  53.84615384615385% { fill: #85caad;}
  56.41025641025641% { fill: #31a449;}
  58.97435897435897% { fill: #8fb63f;}
  61.53846153846154% { fill: #a2a050;}
  64.1025641025641% { fill: #88934d;}
  66.66666666666667% { fill: #93ad00;}
  69.23076923076923% { fill: #4c8a1e;}
  71.7948717948718% { fill: #177245;}
  74.35897435897436% { fill: #36af63;}
  76.92307692307692% { fill: #046a38;}
  79.48717948717949% { fill: #5cab5e;}
  82.05128205128206% { fill: #556e1c;}
  84.61538461538461% { fill: #53872c;}
  87.17948717948718% { fill: #006747;}
  89.74358974358974% { fill: #006633;}
  92.3076923076923% { fill: #3ba072;}
  94.87179487179488% { fill: #218b4d;}
  97.43589743589743% { fill: #0bbc13;}
  100% { fill: #3e933f;}
}

@keyframes all-theme-transition-bleu-celeste {
  0% { fill: #359db7;}
  6.666666666666667% { fill: #3581b9;}
  13.333333333333334% { fill: #0099ff;}
  20% { fill: #89c5e3;}
  26.666666666666668% { fill: #33aaee;}
  33.333333333333336% { fill: #0081c9;}
  40% { fill: #3291d7;}
  46.666666666666664% { fill: #66c8e1;}
  53.333333333333336% { fill: #5ab7ce;}
  60% { fill: #70a7c2;}
  66.66666666666667% { fill: #6abfc6;}
  73.33333333333333% { fill: #3cb0da;}
  80% { fill: #9bd2fe;}
  86.66666666666667% { fill: #87c8f8;}
  93.33333333333333% { fill: #069bbf;}
  100% { fill: #359db7;}
}

@keyframes all-theme-transition-sanguine {
  0% { fill: #a42f2d;}
  2.6315789473684212% { fill: #800000;}
  5.2631578947368425% { fill: #b20000;}
  7.894736842105263% { fill: #980c12;}
  10.526315789473685% { fill: #9a1717;}
  13.157894736842104% { fill: #a72c13;}
  15.789473684210526% { fill: #981914;}
  18.42105263157895% { fill: #a41619;}
  21.05263157894737% { fill: #9a1c15;}
  23.68421052631579% { fill: #ab0d13;}
  26.31578947368421% { fill: #940000;}
  28.94736842105263% { fill: #b61916;}
  31.57894736842105% { fill: #ea00f1;}
  34.21052631578947% { fill: #ef2155;}
  36.8421052631579% { fill: #c00353;}
  39.473684210526315% { fill: #b81329;}
  42.10526315789474% { fill: #6b1b1c;}
  44.73684210526316% { fill: #a60d2d;}
  47.36842105263158% { fill: #9c1945;}
  50% { fill: #802e12;}
  52.63157894736842% { fill: #d32451;}
  55.26315789473684% { fill: #98000c;}
  57.89473684210526% { fill: #a32908;}
  60.526315789473685% { fill: #722c2a;}
  63.1578947368421% { fill: #94422b;}
  65.78947368421052% { fill: #b00000;}
  68.42105263157895% { fill: #791717;}
  71.05263157894737% { fill: #900b1a;}
  73.6842105263158% { fill: #c63943;}
  76.3157894736842% { fill: #b40000;}
  78.94736842105263% { fill: #6b2e2e;}
  81.57894736842105% { fill: #9f4e44;}
  84.21052631578948% { fill: #720000;}
  86.84210526315789% { fill: #900000;}
  89.47368421052632% { fill: #993333;}
  92.10526315789474% { fill: #bd1931;}
  94.73684210526316% { fill: #aa0000;}
  97.36842105263158% { fill: #661202;}
  100% { fill: #a42f2d;}
}

@keyframes all-theme-transition-azure {
  0% { fill: #0c6793;}
  2.5% { fill: #003d8f;}
  5% { fill: #0000ff;}
  7.5% { fill: #004c91;}
  10% { fill: #0f47af;}
  12.5% { fill: #1177cc;}
  15% { fill: #0033ff;}
  17.5% { fill: #0296c6;}
  20% { fill: #005198;}
  22.5% { fill: #2b5df2;}
  25% { fill: #0039a6;}
  27.5% { fill: #0071bc;}
  30% { fill: #248bcc;}
  32.5% { fill: #5af0ff;}
  35% { fill: #75def3;}
  37.5% { fill: #3e76e0;}
  40% { fill: #5c90f5;}
  42.5% { fill: #2a67aa;}
  45% { fill: #4587d3;}
  47.5% { fill: #367ec1;}
  50% { fill: #4e7b78;}
  52.5% { fill: #74badd;}
  55% { fill: #0e89db;}
  57.5% { fill: #6179cf;}
  60% { fill: #566e93;}
  62.5% { fill: #4c7cad;}
  65% { fill: #0073b1;}
  67.5% { fill: #1353b4;}
  70% { fill: #0038a8;}
  72.5% { fill: #2c84cc;}
  75% { fill: #0000b0;}
  77.5% { fill: #3d658f;}
  80% { fill: #50459b;}
  82.5% { fill: #353a9e;}
  85% { fill: #0350b6;}
  87.5% { fill: #003f87;}
  90% { fill: #3366ff;}
  92.5% { fill: #3d89c3;}
  95% { fill: #1359c1;}
  97.5% { fill: #060fbe;}
  100% { fill: #0c6793;}
}

@keyframes all-theme-transition-cendree {
  0% { fill: #cbcaca;}
  9.090909090909092% { fill: #999999;}
  18.181818181818183% { fill: #4f5250;}
  27.272727272727273% { fill: #779988;}
  36.36363636363637% { fill: #778899;}
  45.45454545454545% { fill: #707070;}
  54.54545454545455% { fill: #626262;}
  63.63636363636363% { fill: #8e8f87;}
  72.72727272727273% { fill: #f0f1ea;}
  81.81818181818181% { fill: #98a9b4;}
  90.9090909090909% { fill: #737273;}
  100% { fill: #cbcaca;}
}

@keyframes all-theme-transition-teal {
  0% { fill: #00b5b8;}
  50% { fill: #3d8f8f;}
  100% { fill: #00b5b8;}
}

@keyframes all-theme-transition-buff {
  0% { fill: #ddc595;}
  11.11111111111111% { fill: #dfad42;}
  22.22222222222222% { fill: #ffe9d6;}
  33.333333333333336% { fill: #d1bd94;}
  44.44444444444444% { fill: #4d3324;}
  55.55555555555556% { fill: #ebb24c;}
  66.66666666666667% { fill: #ddcba4;}
  77.77777777777777% { fill: #f0dbf0;}
  88.88888888888889% { fill: #e0ab76;}
  100% { fill: #ddc595;}
}

@keyframes all-theme-transition-helmet-light {
  0% { fill: #d8d8d8;}
  33.333333333333336% { fill: #cccccc;}
  66.66666666666667% { fill: #bfbfbf;}
  100% { fill: #d8d8d8;}
}

@keyframes all-theme-transition-rose {
  0% { fill: #d99292;}
  11.11111111111111% { fill: #e63d6a;}
  22.22222222222222% { fill: #df2ddf;}
  33.333333333333336% { fill: #dd7cb1;}
  44.44444444444444% { fill: #c27070;}
  55.55555555555556% { fill: #ee90ad;}
  66.66666666666667% { fill: #d99392;}
  77.77777777777777% { fill: #f3aab9;}
  88.88888888888889% { fill: #db07a8;}
  100% { fill: #d99292;}
}

@keyframes all-theme-transition-helmet-dark {
  0% { fill: #585858;}
  33.333333333333336% { fill: #515151;}
  66.66666666666667% { fill: #626262;}
  100% { fill: #585858;}
}
