@keyframes all-theme-transition-purpure {
  0% { fill: #913a6a;}
  3.225806451612903% { fill: #4e2f7a;}
  6.451612903225806% { fill: #800080;}
  9.67741935483871% { fill: #912d76;}
  12.903225806451612% { fill: #9116a1;}
  16.129032258064516% { fill: #992288;}
  19.35483870967742% { fill: #880088;}
  22.580645161290324% { fill: #d576ad;}
  25.806451612903224% { fill: #b60a9b;}
  29.032258064516128% { fill: #630b57;}
  32.25806451612903% { fill: #aa235a;}
  35.483870967741936% { fill: #5a60ff;}
  38.70967741935484% { fill: #dba5f4;}
  41.935483870967744% { fill: #b083cd;}
  45.16129032258065% { fill: #c797e7;}
  48.38709677419355% { fill: #884e91;}
  51.61290322580645% { fill: #aa72be;}
  54.83870967741935% { fill: #aa63c4;}
  58.064516129032256% { fill: #a04463;}
  61.29032258064516% { fill: #b284d5;}
  64.51612903225806% { fill: #77468e;}
  67.74193548387096% { fill: #aa7aba;}
  70.96774193548387% { fill: #a56b99;}
  74.19354838709677% { fill: #955f81;}
  77.41935483870968% { fill: #cd00ed;}
  80.64516129032258% { fill: #a44476;}
  83.87096774193549% { fill: #99004d;}
  87.09677419354838% { fill: #a23bcc;}
  90.3225806451613% { fill: #670099;}
  93.54838709677419% { fill: #833d8f;}
  96.7741935483871% { fill: #a057a3;}
  100% { fill: #913a6a;}
}

@keyframes all-theme-transition-orange {
  0% { fill: #e58a39;}
  11.11111111111111% { fill: #ed5f00;}
  22.22222222222222% { fill: #de5307;}
  33.333333333333336% { fill: #eb7711;}
  44.44444444444444% { fill: #ff6600;}
  55.55555555555556% { fill: #e35d03;}
  66.66666666666667% { fill: #e88c3c;}
  77.77777777777777% { fill: #ff5500;}
  88.88888888888889% { fill: #bf8540;}
  100% { fill: #e58a39;}
}

@keyframes all-theme-transition-argent-dark {
  0% { fill: #e5e5e5;}
  14.285714285714286% { fill: #929899;}
  28.571428571428573% { fill: #e7e7e7;}
  42.857142857142854% { fill: #eeeeee;}
  57.142857142857146% { fill: #dddde6;}
  71.42857142857143% { fill: #ececec;}
  85.71428571428571% { fill: #dddddd;}
  100% { fill: #e5e5e5;}
}

@keyframes all-theme-transition-argent {
  0% { fill: #f6f6f6;}
  7.6923076923076925% { fill: #ffffff;}
  15.384615384615385% { fill: #eeeeee;}
  23.076923076923077% { fill: #fefefe;}
  30.76923076923077% { fill: #fffff9;}
  38.46153846153846% { fill: #f8f7ec;}
  46.15384615384615% { fill: #fef8ed;}
  53.84615384615385% { fill: #f8f4db;}
  61.53846153846154% { fill: #f2efec;}
  69.23076923076923% { fill: #eae8e3;}
  76.92307692307692% { fill: #ececec;}
  84.61538461538461% { fill: #bcc6cc;}
  92.3076923076923% { fill: #adadad;}
  100% { fill: #f6f6f6;}
}

@keyframes all-theme-transition-copper {
  0% { fill: #953d02;}
  25% { fill: #e5cdc0;}
  50% { fill: #bf7532;}
  75% { fill: #cc9c66ff;}
  100% { fill: #953d02;}
}

@keyframes all-theme-transition-gules {
  0% { fill: #bb2f2e;}
  3.125% { fill: #d40000;}
  6.25% { fill: #ff0000;}
  9.375% { fill: #bf111b;}
  12.5% { fill: #da121a;}
  15.625% { fill: #dd2222;}
  18.75% { fill: #e64625;}
  21.875% { fill: #da251d;}
  25% { fill: #e20909;}
  28.125% { fill: #dc281e;}
  31.25% { fill: #ed1c24;}
  34.375% { fill: #e7423f;}
  37.5% { fill: #fa5aff;}
  40.625% { fill: #f78fa9;}
  43.75% { fill: #fb1d7b;}
  46.875% { fill: #ea3951;}
  50% { fill: #9a2829;}
  53.125% { fill: #ec1642;}
  56.25% { fill: #dc2764;}
  59.375% { fill: #b7431b;}
  62.5% { fill: #e87b97;}
  65.625% { fill: #da0012;}
  68.75% { fill: #ea3b0c;}
  71.875% { fill: #a3403d;}
  75% { fill: #ca6548;}
  78.125% { fill: #fc0000;}
  81.25% { fill: #ce0f25;}
  84.375% { fill: #ce1126;}
  87.5% { fill: #e02a36;}
  90.625% { fill: #e10000;}
  93.75% { fill: #8f3d3e;}
  96.875% { fill: #cb7e75;}
  100% { fill: #bb2f2e;}
}

@keyframes all-theme-transition-white {
  0% { fill: #ffffff;}
  50% { fill: #fcfcfc;}
  100% { fill: #ffffff;}
}

@keyframes all-theme-transition-murrey {
  0% { fill: #a32c45;}
  3.5714285714285716% { fill: #630727;}
  7.142857142857143% { fill: #5f005f;}
  10.714285714285714% { fill: #650f70;}
  14.285714285714286% { fill: #6b175f;}
  17.857142857142858% { fill: #570b63;}
  21.428571428571427% { fill: #7f066c;}
  25% { fill: #45073c;}
  28.571428571428573% { fill: #76183f;}
  32.142857142857146% { fill: #0008f1;}
  35.714285714285715% { fill: #af37e6;}
  39.285714285714285% { fill: #8043a7;}
  42.857142857142854% { fill: #9439d1;}
  46.42857142857143% { fill: #5f3665;}
  50% { fill: #7c4391;}
  53.57142857142857% { fill: #7d3996;}
  57.142857142857146% { fill: #6f2f45;}
  60.714285714285715% { fill: #803db4;}
  64.28571428571429% { fill: #533063;}
  67.85714285714286% { fill: #7c498d;}
  71.42857142857143% { fill: #76476c;}
  75% { fill: #68425a;}
  78.57142857142857% { fill: #8f00a5;}
  82.14285714285714% { fill: #9a234e;}
  85.71428571428571% { fill: #6b0035;}
  89.28571428571429% { fill: #dd2a6c;}
  92.85714285714286% { fill: #800040;}
  96.42857142857143% { fill: #6b2e44;}
  100% { fill: #a32c45;}
}

@keyframes all-theme-transition-carnation {
  0% { fill: #e9bfa2;}
  9.090909090909092% { fill: #ebbb9a;}
  18.181818181818183% { fill: #ffbb99;}
  27.272727272727273% { fill: #f2a772;}
  36.36363636363637% { fill: #eebb99;}
  45.45454545454545% { fill: #f2b398;}
  54.54545454545455% { fill: #fcd3bc;}
  63.63636363636363% { fill: #fcbf8c;}
  72.72727272727273% { fill: #ffe4d6;}
  81.81818181818181% { fill: #e6b488;}
  90.9090909090909% { fill: #c9ae9c;}
  100% { fill: #e9bfa2;}
}

@keyframes all-theme-transition-amaranth {
  0% { fill: #b51973;}
  25% { fill: #dd2a6c;}
  50% { fill: #8f3d74;}
  75% { fill: #887ecb;}
  100% { fill: #b51973;}
}

@keyframes all-theme-transition-sable {
  0% { fill: #333333;}
  6.25% { fill: #332e2d;}
  12.5% { fill: #000000;}
  18.75% { fill: #2a292a;}
  25% { fill: #4b6667;}
  31.25% { fill: #241f21;}
  37.5% { fill: #513951;}
  43.75% { fill: #3c1e15;}
  50% { fill: #44457e;}
  56.25% { fill: #342818;}
  62.5% { fill: #1c2f36;}
  68.75% { fill: #191b21;}
  75% { fill: #1c1616;}
  81.25% { fill: #2d2d2d;}
  87.5% { fill: #161616;}
  93.75% { fill: #3f3f3f;}
  100% { fill: #333333;}
}

@keyframes all-theme-transition-or {
  0% { fill: #f2bc51;}
  3.225806451612903% { fill: #fcc900;}
  6.451612903225806% { fill: #ffd700;}
  9.67741935483871% { fill: #f0ca00;}
  12.903225806451612% { fill: #fcdd09;}
  16.129032258064516% { fill: #ffdd11;}
  19.35483870967742% { fill: #f5d306;}
  22.580645161290324% { fill: #fcdb00;}
  25.806451612903224% { fill: #fcef3c;}
  29.032258064516128% { fill: #ffd200;}
  32.25806451612903% { fill: #eac102;}
  35.483870967741936% { fill: #ffcd50;}
  38.70967741935484% { fill: #ffd72e;}
  41.935483870967744% { fill: #fff05a;}
  45.16129032258065% { fill: #fcf9d1;}
  48.38709677419355% { fill: #ffdd63;}
  51.61290322580645% { fill: #f5e73e;}
  54.83870967741935% { fill: #fcdc90;}
  58.064516129032256% { fill: #fcf7b2;}
  61.29032258064516% { fill: #f8d689;}
  64.51612903225806% { fill: #ffe9c0;}
  67.74193548387096% { fill: #fff44b;}
  70.96774193548387% { fill: #ffd71b;}
  74.19354838709677% { fill: #f7d2a5;}
  77.41935483870968% { fill: #fffa00;}
  80.64516129032258% { fill: #e7cd54;}
  83.87096774193549% { fill: #fcd116;}
  87.09677419354838% { fill: #eac05d;}
  90.3225806451613% { fill: #ffc800;}
  93.54838709677419% { fill: #ccab66;}
  96.7741935483871% { fill: #c9d487;}
  100% { fill: #f2bc51;}
}

@keyframes all-theme-transition-tenne {
  0% { fill: #bf7433;}
  4% { fill: #bf7532;}
  8% { fill: #c67000;}
  12% { fill: #884411;}
  16% { fill: #9d5333;}
  20% { fill: #9d5324;}
  24% { fill: #8a7d00;}
  28% { fill: #ada10b;}
  32% { fill: #8d6e00;}
  36% { fill: #746c06;}
  40% { fill: #9a6d04;}
  44% { fill: #a59a06;}
  48% { fill: #a69b06;}
  52% { fill: #916708;}
  56% { fill: #b27400;}
  60% { fill: #847b00;}
  64% { fill: #705d00;}
  68% { fill: #97590d;}
  72% { fill: #666400;}
  76% { fill: #c15f1d;}
  80% { fill: #6c5801;}
  84% { fill: #e88c3c;}
  88% { fill: #953d02;}
  92% { fill: #997533;}
  96% { fill: #a1683c;}
  100% { fill: #bf7433;}
}

@keyframes all-theme-transition-brunatre {
  0% { fill: #725942;}
  16.666666666666668% { fill: #693310;}
  33.333333333333336% { fill: #c67533;}
  50% { fill: #411c06;}
  66.66666666666667% { fill: #6b4c2e;}
  83.33333333333333% { fill: #6d5412;}
  100% { fill: #725942;}
}

@keyframes all-theme-transition-helmet-medium {
  0% { fill: #989898;}
  50% { fill: #707070;}
  100% { fill: #989898;}
}

@keyframes all-theme-transition-vert {
  0% { fill: #3e933f;}
  3.125% { fill: #037536;}
  6.25% { fill: #008000;}
  9.375% { fill: #008351;}
  12.5% { fill: #078930;}
  15.625% { fill: #119933;}
  18.75% { fill: #009900;}
  21.875% { fill: #0ca644;}
  25% { fill: #5ab532;}
  28.125% { fill: #009a3d;}
  31.25% { fill: #008f4c;}
  34.375% { fill: #225500;}
  37.5% { fill: #00a94d;}
  40.625% { fill: #5aff5a;}
  43.75% { fill: #80ebba;}
  46.875% { fill: #3ebc6f;}
  50% { fill: #64de57;}
  53.125% { fill: #3e8f4c;}
  56.25% { fill: #5cbc63;}
  59.375% { fill: #60b866;}
  62.5% { fill: #7d9732;}
  65.625% { fill: #85caad;}
  68.75% { fill: #31a449;}
  71.875% { fill: #8fb63f;}
  75% { fill: #a2a050;}
  78.125% { fill: #88934d;}
  81.25% { fill: #93ad00;}
  84.375% { fill: #4c8a1e;}
  87.5% { fill: #177245;}
  90.625% { fill: #36af63;}
  93.75% { fill: #046a38;}
  96.875% { fill: #5cab5e;}
  100% { fill: #3e933f;}
}

@keyframes all-theme-transition-bleu-celeste {
  0% { fill: #359db7;}
  9.090909090909092% { fill: #3581b9;}
  18.181818181818183% { fill: #0099ff;}
  27.272727272727273% { fill: #89c5e3;}
  36.36363636363637% { fill: #33aaee;}
  45.45454545454545% { fill: #0081c9;}
  54.54545454545455% { fill: #3291d7;}
  63.63636363636363% { fill: #66c8e1;}
  72.72727272727273% { fill: #5ab7ce;}
  81.81818181818181% { fill: #70bbc2;}
  90.9090909090909% { fill: #6abfc6;}
  100% { fill: #359db7;}
}

@keyframes all-theme-transition-sanguine {
  0% { fill: #a42f2d;}
  3.125% { fill: #800000;}
  6.25% { fill: #b20000;}
  9.375% { fill: #980c12;}
  12.5% { fill: #9a1717;}
  15.625% { fill: #a72c13;}
  18.75% { fill: #981914;}
  21.875% { fill: #a41619;}
  25% { fill: #9a1c15;}
  28.125% { fill: #ab0d13;}
  31.25% { fill: #940000;}
  34.375% { fill: #b61916;}
  37.5% { fill: #ea00f1;}
  40.625% { fill: #ef2155;}
  43.75% { fill: #c00353;}
  46.875% { fill: #b81329;}
  50% { fill: #6b1b1c;}
  53.125% { fill: #a60d2d;}
  56.25% { fill: #9c1945;}
  59.375% { fill: #802e12;}
  62.5% { fill: #d32451;}
  65.625% { fill: #98000c;}
  68.75% { fill: #a32908;}
  71.875% { fill: #722c2a;}
  75% { fill: #94422b;}
  78.125% { fill: #b00000;}
  81.25% { fill: #791717;}
  84.375% { fill: #900b1a;}
  87.5% { fill: #c63943;}
  90.625% { fill: #b40000;}
  93.75% { fill: #6b2e2e;}
  96.875% { fill: #9f4e44;}
  100% { fill: #a42f2d;}
}

@keyframes all-theme-transition-azure {
  0% { fill: #0c6793;}
  3.0303030303030303% { fill: #003d8f;}
  6.0606060606060606% { fill: #0000ff;}
  9.090909090909092% { fill: #004c91;}
  12.121212121212121% { fill: #0f47af;}
  15.151515151515152% { fill: #1177cc;}
  18.181818181818183% { fill: #0033ff;}
  21.21212121212121% { fill: #0296C6;}
  24.242424242424242% { fill: #005198;}
  27.272727272727273% { fill: #2b5df2;}
  30.303030303030305% { fill: #0039a6;}
  33.333333333333336% { fill: #0071bc;}
  36.36363636363637% { fill: #248bcc;}
  39.39393939393939% { fill: #5af0ff;}
  42.42424242424242% { fill: #75def3;}
  45.45454545454545% { fill: #3e76e0;}
  48.484848484848484% { fill: #5c90f5;}
  51.515151515151516% { fill: #2a67aa;}
  54.54545454545455% { fill: #4587d3;}
  57.57575757575758% { fill: #367ec1;}
  60.60606060606061% { fill: #4e7b78;}
  63.63636363636363% { fill: #74badd;}
  66.66666666666667% { fill: #0e89db;}
  69.6969696969697% { fill: #6179cf;}
  72.72727272727273% { fill: #566e93;}
  75.75757575757575% { fill: #4c7cad;}
  78.78787878787878% { fill: #0073b1;}
  81.81818181818181% { fill: #1353b4;}
  84.84848484848484% { fill: #0038a8;}
  87.87878787878788% { fill: #2c84cc;}
  90.9090909090909% { fill: #0000b0;}
  93.93939393939394% { fill: #3d658f;}
  96.96969696969697% { fill: #50459b;}
  100% { fill: #0c6793;}
}

@keyframes all-theme-transition-cendree {
  0% { fill: #cbcaca;}
  14.285714285714286% { fill: #999999;}
  28.571428571428573% { fill: #4f5250;}
  42.857142857142854% { fill: #779988;}
  57.142857142857146% { fill: #778899;}
  71.42857142857143% { fill: #707070;}
  85.71428571428571% { fill: #626262;}
  100% { fill: #cbcaca;}
}

@keyframes all-theme-transition-buff {
  0% { fill: #ddc595;}
  25% { fill: #dfad42;}
  50% { fill: #ffe9d6;}
  75% { fill: #d1bd94;}
  100% { fill: #ddc595;}
}

@keyframes all-theme-transition-helmet-light {
  0% { fill: #d8d8d8;}
  50% { fill: #cccccc;}
  100% { fill: #d8d8d8;}
}

@keyframes all-theme-transition-rose {
  0% { fill: #d99292;}
  20% { fill: #e63d6a;}
  40% { fill: #df2ddf;}
  60% { fill: #dd7cb1;}
  80% { fill: #c27070;}
  100% { fill: #d99292;}
}

@keyframes all-theme-transition-helmet-dark {
  0% { fill: #585858;}
  50% { fill: #515151;}
  100% { fill: #585858;}
}
