@keyframes all-theme-transition-purpure {
  0% { fill: #913a6a;}
  2.7027027027027026% { fill: #4e2f7a;}
  5.405405405405405% { fill: #800080;}
  8.108108108108109% { fill: #912d76;}
  10.81081081081081% { fill: #9116a1;}
  13.513513513513514% { fill: #992288;}
  16.216216216216218% { fill: #880088;}
  18.91891891891892% { fill: #d576ad;}
  21.62162162162162% { fill: #b60a9b;}
  24.324324324324323% { fill: #630b57;}
  27.027027027027028% { fill: #aa235a;}
  29.72972972972973% { fill: #5a60ff;}
  32.432432432432435% { fill: #dba5f4;}
  35.13513513513514% { fill: #b083cd;}
  37.83783783783784% { fill: #c797e7;}
  40.54054054054054% { fill: #884e91;}
  43.24324324324324% { fill: #aa72be;}
  45.945945945945944% { fill: #aa63c4;}
  48.648648648648646% { fill: #a04463;}
  51.351351351351354% { fill: #b284d5;}
  54.054054054054056% { fill: #77468e;}
  56.75675675675676% { fill: #aa7aba;}
  59.45945945945946% { fill: #a56b99;}
  62.16216216216216% { fill: #955f81;}
  64.86486486486487% { fill: #cd00ed;}
  67.56756756756756% { fill: #a44476;}
  70.27027027027027% { fill: #99004d;}
  72.97297297297297% { fill: #a23bcc;}
  75.67567567567568% { fill: #670099;}
  78.37837837837837% { fill: #833d8f;}
  81.08108108108108% { fill: #a057a3;}
  83.78378378378379% { fill: #7b2bad;}
  86.48648648648648% { fill: #a84078;}
  89.1891891891892% { fill: #6d2077;}
  91.89189189189189% { fill: #993366;}
  94.5945945945946% { fill: #9166cb;}
  97.29729729729729% { fill: #7d076e;}
  100% { fill: #913a6a;}
}

@keyframes all-theme-transition-orange {
  0% { fill: #e58a39;}
  7.142857142857143% { fill: #ed5f00;}
  14.285714285714286% { fill: #de5307;}
  21.428571428571427% { fill: #eb7711;}
  28.571428571428573% { fill: #ff6600;}
  35.714285714285715% { fill: #e35d03;}
  42.857142857142854% { fill: #e88c3c;}
  50% { fill: #ff5500;}
  57.142857142857146% { fill: #bf8540;}
  64.28571428571429% { fill: #f17716;}
  71.42857142857143% { fill: #e48634;}
  78.57142857142857% { fill: #f38f00;}
  85.71428571428571% { fill: #ff9933;}
  92.85714285714286% { fill: #feab33;}
  100% { fill: #e58a39;}
}

@keyframes all-theme-transition-argent-dark {
  0% { fill: #e5e5e5;}
  14.285714285714286% { fill: #929899;}
  28.571428571428573% { fill: #e7e7e7;}
  42.857142857142854% { fill: #eeeeee;}
  57.142857142857146% { fill: #dddde6;}
  71.42857142857143% { fill: #ececec;}
  85.71428571428571% { fill: #dddddd;}
  100% { fill: #e5e5e5;}
}

@keyframes all-theme-transition-argent {
  0% { fill: #f6f6f6;}
  5.555555555555555% { fill: #ffffff;}
  11.11111111111111% { fill: #eeeeee;}
  16.666666666666668% { fill: #fefefe;}
  22.22222222222222% { fill: #fffff9;}
  27.77777777777778% { fill: #f8f7ec;}
  33.333333333333336% { fill: #fef8ed;}
  38.888888888888886% { fill: #f8f4db;}
  44.44444444444444% { fill: #f2efec;}
  50% { fill: #eae8e3;}
  55.55555555555556% { fill: #ececec;}
  61.111111111111114% { fill: #bcc6cc;}
  66.66666666666667% { fill: #adadad;}
  72.22222222222223% { fill: #eaeded;}
  77.77777777777777% { fill: #fffefe;}
  83.33333333333333% { fill: #cdcdcd;}
  88.88888888888889% { fill: #cccccc;}
  94.44444444444444% { fill: #f4f7f9;}
  100% { fill: #f6f6f6;}
}

@keyframes all-theme-transition-copper {
  0% { fill: #953d02;}
  12.5% { fill: #e5cdc0;}
  25% { fill: #bf7532;}
  37.5% { fill: #cc9c66ff;}
  50% { fill: #e77c56;}
  62.5% { fill: #ab6334;}
  75% { fill: #c4d600;}
  87.5% { fill: #fe893b;}
  100% { fill: #953d02;}
}

@keyframes all-theme-transition-gules {
  0% { fill: #bb2f2e;}
  2.7027027027027026% { fill: #d40000;}
  5.405405405405405% { fill: #ff0000;}
  8.108108108108109% { fill: #bf111b;}
  10.81081081081081% { fill: #da121a;}
  13.513513513513514% { fill: #dd2222;}
  16.216216216216218% { fill: #e64625;}
  18.91891891891892% { fill: #da251d;}
  21.62162162162162% { fill: #e20909;}
  24.324324324324323% { fill: #dc281e;}
  27.027027027027028% { fill: #ed1c24;}
  29.72972972972973% { fill: #e7423f;}
  32.432432432432435% { fill: #fa5aff;}
  35.13513513513514% { fill: #f78fa9;}
  37.83783783783784% { fill: #fb1d7b;}
  40.54054054054054% { fill: #ea3951;}
  43.24324324324324% { fill: #9a2829;}
  45.945945945945944% { fill: #ec1642;}
  48.648648648648646% { fill: #dc2764;}
  51.351351351351354% { fill: #b7431b;}
  54.054054054054056% { fill: #e87b97;}
  56.75675675675676% { fill: #da0012;}
  59.45945945945946% { fill: #ea3b0c;}
  62.16216216216216% { fill: #a3403d;}
  64.86486486486487% { fill: #ca6548;}
  67.56756756756756% { fill: #fc0000;}
  70.27027027027027% { fill: #ce0f25;}
  72.97297297297297% { fill: #ce1126;}
  75.67567567567568% { fill: #e02a36;}
  78.37837837837837% { fill: #e10000;}
  81.08108108108108% { fill: #8f3d3e;}
  83.78378378378379% { fill: #cb7e75;}
  86.48648648648648% { fill: #a12823;}
  89.1891891891892% { fill: #ce0001;}
  91.89189189189189% { fill: #bf2033;}
  94.5945945945946% { fill: #cc3333;}
  97.29729729729729% { fill: #dc2e44;}
  100% { fill: #bb2f2e;}
}

@keyframes all-theme-transition-white {
  0% { fill: #ffffff;}
  50% { fill: #fcfcfc;}
  100% { fill: #ffffff;}
}

@keyframes all-theme-transition-murrey {
  0% { fill: #a32c45;}
  2.9411764705882355% { fill: #630727;}
  5.882352941176471% { fill: #5f005f;}
  8.823529411764707% { fill: #650f70;}
  11.764705882352942% { fill: #6b175f;}
  14.705882352941176% { fill: #570b63;}
  17.647058823529413% { fill: #7f066c;}
  20.58823529411765% { fill: #45073c;}
  23.529411764705884% { fill: #76183f;}
  26.470588235294116% { fill: #0008f1;}
  29.41176470588235% { fill: #af37e6;}
  32.35294117647059% { fill: #8043a7;}
  35.294117647058826% { fill: #9439d1;}
  38.23529411764706% { fill: #5f3665;}
  41.1764705882353% { fill: #7c4391;}
  44.11764705882353% { fill: #7d3996;}
  47.05882352941177% { fill: #6f2f45;}
  50% { fill: #803db4;}
  52.94117647058823% { fill: #533063;}
  55.88235294117647% { fill: #7c498d;}
  58.8235294117647% { fill: #76476c;}
  61.76470588235294% { fill: #68425a;}
  64.70588235294117% { fill: #8f00a5;}
  67.6470588235294% { fill: #9a234e;}
  70.58823529411765% { fill: #6b0035;}
  73.52941176470588% { fill: #dd2a6c;}
  76.47058823529412% { fill: #800040;}
  79.41176470588235% { fill: #6b2e44;}
  82.3529411764706% { fill: #703d72;}
  85.29411764705883% { fill: #972947;}
  88.23529411764706% { fill: #670000;}
  91.17647058823529% { fill: #660033;}
  94.11764705882354% { fill: #dc2e44;}
  97.05882352941177% { fill: #610000;}
  100% { fill: #a32c45;}
}

@keyframes all-theme-transition-carnation {
  0% { fill: #e9bfa2;}
  7.142857142857143% { fill: #ebbb9a;}
  14.285714285714286% { fill: #ffbb99;}
  21.428571428571427% { fill: #f2a772;}
  28.571428571428573% { fill: #eebb99;}
  35.714285714285715% { fill: #f2b398;}
  42.857142857142854% { fill: #fcd3bc;}
  50% { fill: #fcbf8c;}
  57.142857142857146% { fill: #ffe4d6;}
  64.28571428571429% { fill: #e6b488;}
  71.42857142857143% { fill: #c9ae9c;}
  78.57142857142857% { fill: #d2b2a1;}
  85.71428571428571% { fill: #fab587;}
  92.85714285714286% { fill: #f6ddcd;}
  100% { fill: #e9bfa2;}
}

@keyframes all-theme-transition-amaranth {
  0% { fill: #b51973;}
  14.285714285714286% { fill: #dd2a6c;}
  28.571428571428573% { fill: #8f3d74;}
  42.857142857142854% { fill: #887ecb;}
  57.142857142857146% { fill: #a9309f;}
  71.42857142857143% { fill: #b51872;}
  85.71428571428571% { fill: #df4661;}
  100% { fill: #b51973;}
}

@keyframes all-theme-transition-sable {
  0% { fill: #333333;}
  5.2631578947368425% { fill: #332e2d;}
  10.526315789473685% { fill: #000000;}
  15.789473684210526% { fill: #2a292a;}
  21.05263157894737% { fill: #4b6667;}
  26.31578947368421% { fill: #241f21;}
  31.57894736842105% { fill: #513951;}
  36.8421052631579% { fill: #3c1e15;}
  42.10526315789474% { fill: #44457e;}
  47.36842105263158% { fill: #342818;}
  52.63157894736842% { fill: #1c2f36;}
  57.89473684210526% { fill: #191b21;}
  63.1578947368421% { fill: #1c1616;}
  68.42105263157895% { fill: #2d2d2d;}
  73.6842105263158% { fill: #161616;}
  78.94736842105263% { fill: #3f3f3f;}
  84.21052631578948% { fill: #16161b;}
  89.47368421052632% { fill: #323233;}
  94.73684210526316% { fill: #292f33;}
  100% { fill: #333333;}
}

@keyframes all-theme-transition-or {
  0% { fill: #f2bc51;}
  2.7027027027027026% { fill: #fcc900;}
  5.405405405405405% { fill: #ffd700;}
  8.108108108108109% { fill: #f0ca00;}
  10.81081081081081% { fill: #fcdd09;}
  13.513513513513514% { fill: #ffdd11;}
  16.216216216216218% { fill: #f5d306;}
  18.91891891891892% { fill: #fcdb00;}
  21.62162162162162% { fill: #fcef3c;}
  24.324324324324323% { fill: #ffd200;}
  27.027027027027028% { fill: #eac102;}
  29.72972972972973% { fill: #ffcd50;}
  32.432432432432435% { fill: #ffd72e;}
  35.13513513513514% { fill: #fff05a;}
  37.83783783783784% { fill: #fcf9d1;}
  40.54054054054054% { fill: #ffdd63;}
  43.24324324324324% { fill: #f5e73e;}
  45.945945945945944% { fill: #fcdc90;}
  48.648648648648646% { fill: #fcf7b2;}
  51.351351351351354% { fill: #f8d689;}
  54.054054054054056% { fill: #ffe9c0;}
  56.75675675675676% { fill: #fff44b;}
  59.45945945945946% { fill: #ffd71b;}
  62.16216216216216% { fill: #f7d2a5;}
  64.86486486486487% { fill: #fffa00;}
  67.56756756756756% { fill: #e7cd54;}
  70.27027027027027% { fill: #fcd116;}
  72.97297297297297% { fill: #eac05d;}
  75.67567567567568% { fill: #ffc800;}
  78.37837837837837% { fill: #ccab66;}
  81.08108108108108% { fill: #c9d487;}
  83.78378378378379% { fill: #f9c629;}
  86.48648648648648% { fill: #ffe66e;}
  89.1891891891892% { fill: #ffcd00;}
  91.89189189189189% { fill: #cc9933;}
  94.5945945945946% { fill: #fcca58;}
  97.29729729729729% { fill: #ffe572;}
  100% { fill: #f2bc51;}
}

@keyframes all-theme-transition-tenne {
  0% { fill: #bf7433;}
  3.3333333333333335% { fill: #bf7532;}
  6.666666666666667% { fill: #c67000;}
  10% { fill: #884411;}
  13.333333333333334% { fill: #9d5333;}
  16.666666666666668% { fill: #9d5324;}
  20% { fill: #8a7d00;}
  23.333333333333332% { fill: #ada10b;}
  26.666666666666668% { fill: #8d6e00;}
  30% { fill: #746c06;}
  33.333333333333336% { fill: #9a6d04;}
  36.666666666666664% { fill: #a59a06;}
  40% { fill: #a69b06;}
  43.333333333333336% { fill: #916708;}
  46.666666666666664% { fill: #b27400;}
  50% { fill: #847b00;}
  53.333333333333336% { fill: #705d00;}
  56.666666666666664% { fill: #97590d;}
  60% { fill: #666400;}
  63.333333333333336% { fill: #c15f1d;}
  66.66666666666667% { fill: #6c5801;}
  70% { fill: #e88c3c;}
  73.33333333333333% { fill: #953d02;}
  76.66666666666667% { fill: #997533;}
  80% { fill: #a1683c;}
  83.33333333333333% { fill: #a25426;}
  86.66666666666667% { fill: #ce7e19;}
  90% { fill: #cc6633;}
  93.33333333333333% { fill: #ae7e57;}
  96.66666666666667% { fill: #966756;}
  100% { fill: #bf7433;}
}

@keyframes all-theme-transition-brunatre {
  0% { fill: #725942;}
  8.333333333333334% { fill: #693310;}
  16.666666666666668% { fill: #c67533;}
  25% { fill: #411c06;}
  33.333333333333336% { fill: #6b4c2e;}
  41.666666666666664% { fill: #6d5412;}
  50% { fill: #734829;}
  58.333333333333336% { fill: #745a49;}
  66.66666666666667% { fill: #693f23;}
  75% { fill: #663300;}
  83.33333333333333% { fill: #c0694f;}
  91.66666666666667% { fill: #ffe572;}
  100% { fill: #725942;}
}

@keyframes all-theme-transition-helmet-medium {
  0% { fill: #989898;}
  33.333333333333336% { fill: #707070;}
  66.66666666666667% { fill: #919191;}
  100% { fill: #989898;}
}

@keyframes all-theme-transition-vert {
  0% { fill: #3e933f;}
  2.6315789473684212% { fill: #037536;}
  5.2631578947368425% { fill: #008000;}
  7.894736842105263% { fill: #008351;}
  10.526315789473685% { fill: #078930;}
  13.157894736842104% { fill: #119933;}
  15.789473684210526% { fill: #009900;}
  18.42105263157895% { fill: #0ca644;}
  21.05263157894737% { fill: #5ab532;}
  23.68421052631579% { fill: #009a3d;}
  26.31578947368421% { fill: #008f4c;}
  28.94736842105263% { fill: #225500;}
  31.57894736842105% { fill: #00a94d;}
  34.21052631578947% { fill: #5aff5a;}
  36.8421052631579% { fill: #80ebba;}
  39.473684210526315% { fill: #3ebc6f;}
  42.10526315789474% { fill: #64de57;}
  44.73684210526316% { fill: #3e8f4c;}
  47.36842105263158% { fill: #5cbc63;}
  50% { fill: #60b866;}
  52.63157894736842% { fill: #7d9732;}
  55.26315789473684% { fill: #85caad;}
  57.89473684210526% { fill: #31a449;}
  60.526315789473685% { fill: #8fb63f;}
  63.1578947368421% { fill: #a2a050;}
  65.78947368421052% { fill: #88934d;}
  68.42105263157895% { fill: #93ad00;}
  71.05263157894737% { fill: #4c8a1e;}
  73.6842105263158% { fill: #177245;}
  76.3157894736842% { fill: #36af63;}
  78.94736842105263% { fill: #046a38;}
  81.57894736842105% { fill: #5cab5e;}
  84.21052631578948% { fill: #556e1c;}
  86.84210526315789% { fill: #53872c;}
  89.47368421052632% { fill: #006747;}
  92.10526315789474% { fill: #006633;}
  94.73684210526316% { fill: #3ba072;}
  97.36842105263158% { fill: #218b4d;}
  100% { fill: #3e933f;}
}

@keyframes all-theme-transition-bleu-celeste {
  0% { fill: #359db7;}
  7.142857142857143% { fill: #3581b9;}
  14.285714285714286% { fill: #0099ff;}
  21.428571428571427% { fill: #89c5e3;}
  28.571428571428573% { fill: #33aaee;}
  35.714285714285715% { fill: #0081c9;}
  42.857142857142854% { fill: #3291d7;}
  50% { fill: #66c8e1;}
  57.142857142857146% { fill: #5ab7ce;}
  64.28571428571429% { fill: #70a7c2;}
  71.42857142857143% { fill: #6abfc6;}
  78.57142857142857% { fill: #3cb0da;}
  85.71428571428571% { fill: #9bd2fe;}
  92.85714285714286% { fill: #87c8f8;}
  100% { fill: #359db7;}
}

@keyframes all-theme-transition-sanguine {
  0% { fill: #a42f2d;}
  2.7027027027027026% { fill: #800000;}
  5.405405405405405% { fill: #b20000;}
  8.108108108108109% { fill: #980c12;}
  10.81081081081081% { fill: #9a1717;}
  13.513513513513514% { fill: #a72c13;}
  16.216216216216218% { fill: #981914;}
  18.91891891891892% { fill: #a41619;}
  21.62162162162162% { fill: #9a1c15;}
  24.324324324324323% { fill: #ab0d13;}
  27.027027027027028% { fill: #940000;}
  29.72972972972973% { fill: #b61916;}
  32.432432432432435% { fill: #ea00f1;}
  35.13513513513514% { fill: #ef2155;}
  37.83783783783784% { fill: #c00353;}
  40.54054054054054% { fill: #b81329;}
  43.24324324324324% { fill: #6b1b1c;}
  45.945945945945944% { fill: #a60d2d;}
  48.648648648648646% { fill: #9c1945;}
  51.351351351351354% { fill: #802e12;}
  54.054054054054056% { fill: #d32451;}
  56.75675675675676% { fill: #98000c;}
  59.45945945945946% { fill: #a32908;}
  62.16216216216216% { fill: #722c2a;}
  64.86486486486487% { fill: #94422b;}
  67.56756756756756% { fill: #b00000;}
  70.27027027027027% { fill: #791717;}
  72.97297297297297% { fill: #900b1a;}
  75.67567567567568% { fill: #c63943;}
  78.37837837837837% { fill: #b40000;}
  81.08108108108108% { fill: #6b2e2e;}
  83.78378378378379% { fill: #9f4e44;}
  86.48648648648648% { fill: #720000;}
  89.1891891891892% { fill: #900000;}
  91.89189189189189% { fill: #993333;}
  94.5945945945946% { fill: #bd1931;}
  97.29729729729729% { fill: #aa0000;}
  100% { fill: #a42f2d;}
}

@keyframes all-theme-transition-azure {
  0% { fill: #0c6793;}
  2.5641025641025643% { fill: #003d8f;}
  5.128205128205129% { fill: #0000ff;}
  7.6923076923076925% { fill: #004c91;}
  10.256410256410257% { fill: #0f47af;}
  12.820512820512821% { fill: #1177cc;}
  15.384615384615385% { fill: #0033ff;}
  17.94871794871795% { fill: #0296c6;}
  20.512820512820515% { fill: #005198;}
  23.076923076923077% { fill: #2b5df2;}
  25.641025641025642% { fill: #0039a6;}
  28.205128205128204% { fill: #0071bc;}
  30.76923076923077% { fill: #248bcc;}
  33.333333333333336% { fill: #5af0ff;}
  35.8974358974359% { fill: #75def3;}
  38.46153846153846% { fill: #3e76e0;}
  41.02564102564103% { fill: #5c90f5;}
  43.58974358974359% { fill: #2a67aa;}
  46.15384615384615% { fill: #4587d3;}
  48.717948717948715% { fill: #367ec1;}
  51.282051282051285% { fill: #4e7b78;}
  53.84615384615385% { fill: #74badd;}
  56.41025641025641% { fill: #0e89db;}
  58.97435897435897% { fill: #6179cf;}
  61.53846153846154% { fill: #566e93;}
  64.1025641025641% { fill: #4c7cad;}
  66.66666666666667% { fill: #0073b1;}
  69.23076923076923% { fill: #1353b4;}
  71.7948717948718% { fill: #0038a8;}
  74.35897435897436% { fill: #2c84cc;}
  76.92307692307692% { fill: #0000b0;}
  79.48717948717949% { fill: #3d658f;}
  82.05128205128206% { fill: #50459b;}
  84.61538461538461% { fill: #353a9e;}
  87.17948717948718% { fill: #0350b6;}
  89.74358974358974% { fill: #003f87;}
  92.3076923076923% { fill: #3366ff;}
  94.87179487179488% { fill: #3d89c3;}
  97.43589743589743% { fill: #1359c1;}
  100% { fill: #0c6793;}
}

@keyframes all-theme-transition-cendree {
  0% { fill: #cbcaca;}
  10% { fill: #999999;}
  20% { fill: #4f5250;}
  30% { fill: #779988;}
  40% { fill: #778899;}
  50% { fill: #707070;}
  60% { fill: #626262;}
  70% { fill: #8e8f87;}
  80% { fill: #f0f1ea;}
  90% { fill: #98a9b4;}
  100% { fill: #cbcaca;}
}

@keyframes all-theme-transition-teal {
  0% { fill: #00b5b8;}
  50% { fill: #3d8f8f;}
  100% { fill: #00b5b8;}
}

@keyframes all-theme-transition-buff {
  0% { fill: #ddc595;}
  12.5% { fill: #dfad42;}
  25% { fill: #ffe9d6;}
  37.5% { fill: #d1bd94;}
  50% { fill: #4d3324;}
  62.5% { fill: #ebb24c;}
  75% { fill: #ddcba4;}
  87.5% { fill: #f0dbf0;}
  100% { fill: #ddc595;}
}

@keyframes all-theme-transition-helmet-light {
  0% { fill: #d8d8d8;}
  33.333333333333336% { fill: #cccccc;}
  66.66666666666667% { fill: #bfbfbf;}
  100% { fill: #d8d8d8;}
}

@keyframes all-theme-transition-rose {
  0% { fill: #d99292;}
  12.5% { fill: #e63d6a;}
  25% { fill: #df2ddf;}
  37.5% { fill: #dd7cb1;}
  50% { fill: #c27070;}
  62.5% { fill: #ee90ad;}
  75% { fill: #d99392;}
  87.5% { fill: #f3aab9;}
  100% { fill: #d99292;}
}

@keyframes all-theme-transition-helmet-dark {
  0% { fill: #585858;}
  33.333333333333336% { fill: #515151;}
  66.66666666666667% { fill: #626262;}
  100% { fill: #585858;}
}
