@keyframes all-theme-transition-purpure {
  0% { fill: #913a6a;}
  3.8461538461538463% { fill: #800080;}
  7.6923076923076925% { fill: #912d76;}
  11.538461538461538% { fill: #9116a1;}
  15.384615384615385% { fill: #992288;}
  19.23076923076923% { fill: #880088;}
  23.076923076923077% { fill: #d576ad;}
  26.923076923076923% { fill: #b60a9b;}
  30.76923076923077% { fill: #630b57;}
  34.61538461538461% { fill: #aa235a;}
  38.46153846153846% { fill: #5a60ff;}
  42.30769230769231% { fill: #dba5f4;}
  46.15384615384615% { fill: #b083cd;}
  50% { fill: #c797e7;}
  53.84615384615385% { fill: #884e91;}
  57.69230769230769% { fill: #aa72be;}
  61.53846153846154% { fill: #a04463;}
  65.38461538461539% { fill: #b284d5;}
  69.23076923076923% { fill: #77468e;}
  73.07692307692308% { fill: #aa7aba;}
  76.92307692307692% { fill: #a56b99;}
  80.76923076923077% { fill: #955f81;}
  84.61538461538461% { fill: #cd00ed;}
  88.46153846153847% { fill: #a44476;}
  92.3076923076923% { fill: #99004d;}
  96.15384615384616% { fill: #a23bcc;}
  100% { fill: #913a6a;}
}

@keyframes all-theme-transition-orange {
  0% { fill: #e58a39;}
  16.666666666666668% { fill: #de5307;}
  33.333333333333336% { fill: #eb7711;}
  50% { fill: #ff6600;}
  66.66666666666667% { fill: #e35d03;}
  83.33333333333333% { fill: #e88c3c;}
  100% { fill: #e58a39;}
}

@keyframes all-theme-transition-argent-dark {
  0% { fill: #e5e5e5;}
  14.285714285714286% { fill: #929899;}
  28.571428571428573% { fill: #e7e7e7;}
  42.857142857142854% { fill: #eeeeee;}
  57.142857142857146% { fill: #dddde6;}
  71.42857142857143% { fill: #ececec;}
  85.71428571428571% { fill: #dddddd;}
  100% { fill: #e5e5e5;}
}

@keyframes all-theme-transition-argent {
  0% { fill: #f6f6f6;}
  9.090909090909092% { fill: #ffffff;}
  18.181818181818183% { fill: #eeeeee;}
  27.272727272727273% { fill: #fefefe;}
  36.36363636363637% { fill: #fffff9;}
  45.45454545454545% { fill: #f8f7ec;}
  54.54545454545455% { fill: #fef8ed;}
  63.63636363636363% { fill: #f8f4db;}
  72.72727272727273% { fill: #f2efec;}
  81.81818181818181% { fill: #eae8e3;}
  90.9090909090909% { fill: #ececec;}
  100% { fill: #f6f6f6;}
}

@keyframes all-theme-transition-copper {
  0% { fill: #953d02;}
  50% { fill: #e5cdc0;}
  100% { fill: #953d02;}
}

@keyframes all-theme-transition-gules {
  0% { fill: #bb2f2e;}
  3.5714285714285716% { fill: #ff0000;}
  7.142857142857143% { fill: #bf111b;}
  10.714285714285714% { fill: #da121a;}
  14.285714285714286% { fill: #dd2222;}
  17.857142857142858% { fill: #e64625;}
  21.428571428571427% { fill: #da251d;}
  25% { fill: #e20909;}
  28.571428571428573% { fill: #dc281e;}
  32.142857142857146% { fill: #ed1c24;}
  35.714285714285715% { fill: #d40000;}
  39.285714285714285% { fill: #e7423f;}
  42.857142857142854% { fill: #fa5aff;}
  46.42857142857143% { fill: #f78fa9;}
  50% { fill: #fb1d7b;}
  53.57142857142857% { fill: #ea3951;}
  57.142857142857146% { fill: #9a2829;}
  60.714285714285715% { fill: #ec1642;}
  64.28571428571429% { fill: #b7431b;}
  67.85714285714286% { fill: #e87b97;}
  71.42857142857143% { fill: #da0012;}
  75% { fill: #ea3b0c;}
  78.57142857142857% { fill: #a3403d;}
  82.14285714285714% { fill: #ca6548;}
  85.71428571428571% { fill: #fc0000;}
  89.28571428571429% { fill: #ce0f25;}
  92.85714285714286% { fill: #ce1126;}
  96.42857142857143% { fill: #e02a36;}
  100% { fill: #bb2f2e;}
}

@keyframes all-theme-transition-white {
  0% { fill: #ffffff;}
  100% { fill: #ffffff;}
}

@keyframes all-theme-transition-murrey {
  0% { fill: #a32c45;}
  4.166666666666667% { fill: #5f005f;}
  8.333333333333334% { fill: #650f70;}
  12.5% { fill: #6b175f;}
  16.666666666666668% { fill: #570b63;}
  20.833333333333332% { fill: #7f066c;}
  25% { fill: #45073c;}
  29.166666666666668% { fill: #76183f;}
  33.333333333333336% { fill: #0008f1;}
  37.5% { fill: #af37e6;}
  41.666666666666664% { fill: #8043a7;}
  45.833333333333336% { fill: #9439d1;}
  50% { fill: #5f3665;}
  54.166666666666664% { fill: #7c4391;}
  58.333333333333336% { fill: #6f2f45;}
  62.5% { fill: #803db4;}
  66.66666666666667% { fill: #533063;}
  70.83333333333333% { fill: #7c498d;}
  75% { fill: #76476c;}
  79.16666666666667% { fill: #68425a;}
  83.33333333333333% { fill: #8f00a5;}
  87.5% { fill: #9a234e;}
  91.66666666666667% { fill: #6b0035;}
  95.83333333333333% { fill: #dd2a6c;}
  100% { fill: #a32c45;}
}

@keyframes all-theme-transition-carnation {
  0% { fill: #e9bfa2;}
  12.5% { fill: #ffbb99;}
  25% { fill: #f2a772;}
  37.5% { fill: #eebb99;}
  50% { fill: #f2b398;}
  62.5% { fill: #fcd3bc;}
  75% { fill: #fcbf8c;}
  87.5% { fill: #ffe4d6;}
  100% { fill: #e9bfa2;}
}

@keyframes all-theme-transition-amaranth {
  0% { fill: #b51973;}
  100% { fill: #b51973;}
}

@keyframes all-theme-transition-sable {
  0% { fill: #333333;}
  7.142857142857143% { fill: #000000;}
  14.285714285714286% { fill: #2a292a;}
  21.428571428571427% { fill: #4b6667;}
  28.571428571428573% { fill: #241f21;}
  35.714285714285715% { fill: #3c1e15;}
  42.857142857142854% { fill: #44457e;}
  50% { fill: #342818;}
  57.142857142857146% { fill: #1c2f36;}
  64.28571428571429% { fill: #191b21;}
  71.42857142857143% { fill: #1c1616;}
  78.57142857142857% { fill: #2d2d2d;}
  85.71428571428571% { fill: #161616;}
  92.85714285714286% { fill: #3f3f3f;}
  100% { fill: #333333;}
}

@keyframes all-theme-transition-or {
  0% { fill: #f2bc51;}
  3.7037037037037037% { fill: #ffd700;}
  7.407407407407407% { fill: #f0ca00;}
  11.11111111111111% { fill: #fcdd09;}
  14.814814814814815% { fill: #ffdd11;}
  18.51851851851852% { fill: #f5d306;}
  22.22222222222222% { fill: #fcdb00;}
  25.925925925925927% { fill: #fcef3c;}
  29.62962962962963% { fill: #ffd200;}
  33.333333333333336% { fill: #eac102;}
  37.03703703703704% { fill: #ffcd50;}
  40.74074074074074% { fill: #ffd72e;}
  44.44444444444444% { fill: #fff05a;}
  48.148148148148145% { fill: #fcf9d1;}
  51.851851851851855% { fill: #ffdd63;}
  55.55555555555556% { fill: #f5e73e;}
  59.25925925925926% { fill: #fcdc90;}
  62.96296296296296% { fill: #fcf7b2;}
  66.66666666666667% { fill: #f8d689;}
  70.37037037037037% { fill: #ffe9c0;}
  74.07407407407408% { fill: #fff44b;}
  77.77777777777777% { fill: #ffd71b;}
  81.48148148148148% { fill: #f7d2a5;}
  85.18518518518519% { fill: #fffa00;}
  88.88888888888889% { fill: #e7cd54;}
  92.5925925925926% { fill: #fcd116;}
  96.29629629629629% { fill: #eac05d;}
  100% { fill: #f2bc51;}
}

@keyframes all-theme-transition-tenne {
  0% { fill: #bf7433;}
  5% { fill: #c67000;}
  10% { fill: #884411;}
  15% { fill: #9d5333;}
  20% { fill: #9d5324;}
  25% { fill: #8a7d00;}
  30% { fill: #ada10b;}
  35% { fill: #8d6e00;}
  40% { fill: #746c06;}
  45% { fill: #9a6d04;}
  50% { fill: #a59a06;}
  55% { fill: #916708;}
  60% { fill: #b27400;}
  65% { fill: #847b00;}
  70% { fill: #705d00;}
  75% { fill: #97590d;}
  80% { fill: #666400;}
  85% { fill: #c15f1d;}
  90% { fill: #6c5801;}
  95% { fill: #e88c3c;}
  100% { fill: #bf7433;}
}

@keyframes all-theme-transition-brunatre {
  0% { fill: #725942;}
  33.333333333333336% { fill: #693310;}
  66.66666666666667% { fill: #c67533;}
  100% { fill: #725942;}
}

@keyframes all-theme-transition-helmet-medium {
  0% { fill: #989898;}
  50% { fill: #707070;}
  100% { fill: #989898;}
}

@keyframes all-theme-transition-vert {
  0% { fill: #3e933f;}
  3.5714285714285716% { fill: #008000;}
  7.142857142857143% { fill: #008351;}
  10.714285714285714% { fill: #078930;}
  14.285714285714286% { fill: #119933;}
  17.857142857142858% { fill: #009900;}
  21.428571428571427% { fill: #0ca644;}
  25% { fill: #5ab532;}
  28.571428571428573% { fill: #009a3d;}
  32.142857142857146% { fill: #008f4c;}
  35.714285714285715% { fill: #225500;}
  39.285714285714285% { fill: #00a94d;}
  42.857142857142854% { fill: #5aff5a;}
  46.42857142857143% { fill: #80ebba;}
  50% { fill: #3ebc6f;}
  53.57142857142857% { fill: #64de57;}
  57.142857142857146% { fill: #3e8f4c;}
  60.714285714285715% { fill: #5cbc63;}
  64.28571428571429% { fill: #7d9732;}
  67.85714285714286% { fill: #85caad;}
  71.42857142857143% { fill: #31a449;}
  75% { fill: #8fb63f;}
  78.57142857142857% { fill: #a2a050;}
  82.14285714285714% { fill: #88934d;}
  85.71428571428571% { fill: #93ad00;}
  89.28571428571429% { fill: #4c8a1e;}
  92.85714285714286% { fill: #177245;}
  96.42857142857143% { fill: #36af63;}
  100% { fill: #3e933f;}
}

@keyframes all-theme-transition-bleu-celeste {
  0% { fill: #359db7;}
  12.5% { fill: #0099ff;}
  25% { fill: #89c5e3;}
  37.5% { fill: #33aaee;}
  50% { fill: #0081c9;}
  62.5% { fill: #3291d7;}
  75% { fill: #66c8e1;}
  87.5% { fill: #5ab7ce;}
  100% { fill: #359db7;}
}

@keyframes all-theme-transition-sanguine {
  0% { fill: #a42f2d;}
  3.7037037037037037% { fill: #b20000;}
  7.407407407407407% { fill: #980c12;}
  11.11111111111111% { fill: #9a1717;}
  14.814814814814815% { fill: #a72c13;}
  18.51851851851852% { fill: #981914;}
  22.22222222222222% { fill: #a41619;}
  25.925925925925927% { fill: #9a1c15;}
  29.62962962962963% { fill: #ab0d13;}
  33.333333333333336% { fill: #940000;}
  37.03703703703704% { fill: #b61916;}
  40.74074074074074% { fill: #ea00f1;}
  44.44444444444444% { fill: #ef2155;}
  48.148148148148145% { fill: #c00353;}
  51.851851851851855% { fill: #b81329;}
  55.55555555555556% { fill: #6b1b1c;}
  59.25925925925926% { fill: #a60d2d;}
  62.96296296296296% { fill: #802e12;}
  66.66666666666667% { fill: #d32451;}
  70.37037037037037% { fill: #98000c;}
  74.07407407407408% { fill: #a32908;}
  77.77777777777777% { fill: #722c2a;}
  81.48148148148148% { fill: #94422b;}
  85.18518518518519% { fill: #b00000;}
  88.88888888888889% { fill: #791717;}
  92.5925925925926% { fill: #900b1a;}
  96.29629629629629% { fill: #c63943;}
  100% { fill: #a42f2d;}
}

@keyframes all-theme-transition-azure {
  0% { fill: #0c6793;}
  3.4482758620689653% { fill: #0000ff;}
  6.896551724137931% { fill: #004c91;}
  10.344827586206897% { fill: #0f47af;}
  13.793103448275861% { fill: #1177cc;}
  17.24137931034483% { fill: #0033ff;}
  20.689655172413794% { fill: #0296C6;}
  24.137931034482758% { fill: #005198;}
  27.586206896551722% { fill: #2b5df2;}
  31.03448275862069% { fill: #0039a6;}
  34.48275862068966% { fill: #0071bc;}
  37.93103448275862% { fill: #003d8f;}
  41.37931034482759% { fill: #248bcc;}
  44.827586206896555% { fill: #5af0ff;}
  48.275862068965516% { fill: #75def3;}
  51.724137931034484% { fill: #3e76e0;}
  55.172413793103445% { fill: #5c90f5;}
  58.62068965517241% { fill: #2a67aa;}
  62.06896551724138% { fill: #4587d3;}
  65.51724137931035% { fill: #4e7b78;}
  68.96551724137932% { fill: #74badd;}
  72.41379310344827% { fill: #0e89db;}
  75.86206896551724% { fill: #6179cf;}
  79.3103448275862% { fill: #566e93;}
  82.75862068965517% { fill: #4c7cad;}
  86.20689655172414% { fill: #0073b1;}
  89.65517241379311% { fill: #1353b4;}
  93.10344827586206% { fill: #0038a8;}
  96.55172413793103% { fill: #2c84cc;}
  100% { fill: #0c6793;}
}

@keyframes all-theme-transition-cendree {
  0% { fill: #cbcaca;}
  16.666666666666668% { fill: #4f5250;}
  33.333333333333336% { fill: #999999;}
  50% { fill: #779988;}
  66.66666666666667% { fill: #778899;}
  83.33333333333333% { fill: #707070;}
  100% { fill: #cbcaca;}
}

@keyframes all-theme-transition-buff {
  0% { fill: #ddc595;}
  33.333333333333336% { fill: #dfad42;}
  66.66666666666667% { fill: #ffe9d6;}
  100% { fill: #ddc595;}
}

@keyframes all-theme-transition-helmet-light {
  0% { fill: #d8d8d8;}
  50% { fill: #cccccc;}
  100% { fill: #d8d8d8;}
}

@keyframes all-theme-transition-rose {
  0% { fill: #d99292;}
  33.333333333333336% { fill: #df2ddf;}
  66.66666666666667% { fill: #dd7cb1;}
  100% { fill: #d99292;}
}

@keyframes all-theme-transition-helmet-dark {
  0% { fill: #585858;}
  50% { fill: #515151;}
  100% { fill: #585858;}
}
