@font-face {
  font-family: "SiteDefault";
  font-style: normal;
  font-weight: 400;
  src: url("../font/gotham/Gotham-Light.otf") format("opentype");
}

@font-face {
  font-family: "SiteDefault";
  font-style: normal;
  font-weight: 600;
  src: url("../font/gotham/Gotham-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Black Chancery";
  font-style: "normal";
  font-weight: 400;
  src: url("../font/black-chancery/BLKCHCRY.TTF") format("truetype");
}

@font-face {
  font-family: "Cardinal";
  font-style: "normal";
  font-weight: 400;
  src: url("../font/cardinal/Cardinal.ttf") format("truetype");
}

@font-face {
  font-family: "Carolinga";
  font-style: "normal";
  font-weight: 400;
  src: url("../font/carolinga/CAROBTN_.TTF") format("truetype");
}

@font-face {
  font-family: "Lohengrin";
  font-style: "normal";
  font-weight: 400;
  src: url("../font/lohengrin/Lohengrin.ttf") format("truetype");
}

@font-face {
  font-family: "Magic School";
  font-style: "normal";
  font-weight: 400;
  src: url("../font/magic-school/MagicSchoolOne.ttf") format("truetype");
}

@font-face {
  font-family: "Prince Valiant";
  font-style: "normal";
  font-weight: 400;
  src: url("../font/prince-valiant/PrinceValiant.ttf") format("truetype");
}

@font-face {
  font-family: "DejaVuSans";
  font-style: "normal";
  font-weight: 400;
  src: url("../font/deja-vu/DejaVuSans.ttf") format("truetype");
}

@font-face {
  font-family: "DejaVuSerif";
  font-style: "normal";
  font-weight: 400;
  src: url("../font/deja-vu/DejaVuSerif.ttf") format("truetype");
}

@font-face {
  font-family: "KJV1611";
  font-style: "normal";
  font-weight: 400;
  src: url("../font/kjv1611/KJV1611.otf") format("opentype");
}

@font-face {
  font-family: "Garamond";
  font-style: "normal";
  font-weight: 400;
  src: url("../font/garamond/Garamond Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Cloister";
  font-style: "normal";
  font-weight: 400;
  src: url("../font/cloister/CloisterBlack.ttf") format("truetype");
}

@font-face {
  font-family: "Baskerville Berthold";
  font-style: "normal";
  font-weight: 400;
  src: url("../font/baskerville/BaskervilleBE-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Liturgisch";
  font-style: "normal";
  font-weight: 400;
  src: url("../font/liturgisch/liturgisch.regular.ttf") format("truetype");
}

body {
  font-family: "SiteDefault", sans-serif;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1,
h2,
h3 {
  font-weight: 500;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
  color: #1b6690 !important;
  color: inherit;
  cursor: pointer;
}

a.disabled {
  color: #ccc !important;
  cursor: not-allowed;
}

p {
  margin-top: 0;
}

.main-content {
  grid-area: content;
  overflow: auto;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.5;
  z-index: 1000;
}

.modal {
  position: fixed;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1001;
}

.modal.dialog {
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 3px 3px 10px 5px #555;
}

.modal > .modal-header {
  font-size: 1.1em;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
  border-radius: 10px 10px 0 0;
  padding: 5px 10px;
}

.modal > .modal-content {
  padding: 10px;
}

button {
  border-radius: 5px;
}

form > .error-message {
  border: 1px solid #b44;
  background-color: #fdd;
  color: #b44;
  padding: 5px;
}

form .error .error-message {
  color: #b44;
}

form .error input {
  border: 1px solid #b44 !important;
  color: #b44;
}

form .error label {
  color: #b44;
}

label div {
  vertical-align: middle;
}

.colour-preview {
  display: inline-block;
  border: 1px solid #ddd;
  width: 1.2em;
  height: 1.2em;
}

.blazonry {
  margin-bottom: 1em;
  margin-top: 5px;
}

.blazonry .blazon {
  font-size: 1.2em;
  font-style: italic;
  padding: 0 10px;
}

.attribution {
  margin-bottom: 1em;
}

.attribution ul {
  padding-left: 1em;
}

.tags {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 70%;
}

.collection .tags {
  display: inline-block;
  overflow: visible;
}

.tag {
  position: relative;
  display: inline-block;
  font-size: 0.8em;
  height: 1.2em;
  border-radius: 999px;
  padding: 4px 8px;
  white-space: nowrap;
  line-height: 1.2em;
  margin-bottom: 2px;
  margin-right: 5px;
}

.tag i.fas {
  width: 1.25em;
}

.tag.public {
  background-color: #beb;
  color: #282;
}

.tag.private {
  background-color: #e55;
  color: #fff;
}

.tag.attitude {
  background-color: #fdd;
  color: #933;
}

.tag.facing {
  background-color: #ccf;
  color: #339;
}

.tag.attribute {
  background-color: #f80;
  color: #fff;
}

.tag.modifier {
  background-color: #eeb;
  color: #771;
}

.tag.shading {
  background-color: #555;
  color: #fff;
}

.tag.fixed-tincture {
  background-color: #888;
  color: #fff;
}

.tag .delete {
  display: none;
}

.tag:hover .delete {
  z-index: 1000;
  display: inline;
  cursor: pointer;
  position: absolute;
  right: -7px;
  top: -7px;
  background: #bb2f2e;
  color: #ff;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
}

.count-badge {
  display: inline-block;
  font-size: 0.8em;
  margin-left: 0.5em;
  height: 1em;
  border-radius: 999px;
  white-space: nowrap;
  line-height: 1em;
  background-color: #ddd;
  color: #555;
  padding: 0.2em 0.4em;
}

.loader {
  color: #ccc;
  font-size: 20px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

.no-scrollbar {
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* new layout */

#app {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: [start] auto [end];
  grid-template-rows: [top] 2.5em [header-end] auto [bottom];
  grid-template-areas:
    "header"
    "content";
  overflow: auto;
}

.header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ddd;
  height: 2.5em;
  /* make sure the drop down menu of nav-menu-items doesn't
     grow outside the page area due to the +2px of the border */
  padding-right: 2px;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header > ul {
  display: flex;
}

.header > ul > li {
  display: inline-block;
  flex: 1;
  vertical-align: middle;
}

.header > ul > li a {
  display: block;
  text-decoration: none;
  white-space: nowrap;
  text-align: center;
  padding: 0 0.5em;
  line-height: 2.5em;
  flex: 1;
}

li.nav-menu-item a:hover {
  background-color: #eee;
}

.nav-menu-has-children > .nav-menu-link:after {
  content: "\25BE";
}

.nav-menu-has-children {
  position: relative;
}

.nav-menu-children {
  position: absolute;
  left: 0;
  z-index: 3;
  border: 1px solid #ddd;
  border-top: 0;
  width: 100%;
  background: #fff;
}

.nav-menu-item.selected {
  background-color: #f0f0f0;
}

.release-row {
  display: flex;
}

.release-row > div {
  flex: 1;
}

.release-row .info {
  text-align: justify;
  min-width: 30em;
  padding-right: 1em;
}

@media all and (max-width: 60em) {
  .release-row {
    flex-direction: column;
  }
}

.button {
}

.button.primary {
  background-color: #359db7;
  color: #fff;
}

.button {
  white-space: nowrap;
  padding: 5px 10px;
  border-radius: 5px;
  border: 0;
  display: inline-block;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  user-select: none;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  padding: 0.5em 1em;
  color: rgba(0, 0, 0, 0.8);
  border: none rgba(0, 0, 0, 0);
  background-color: #e6e6e6;
  text-decoration: none;
  border-radius: 2px;
}

.button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.button:hover,
.button:focus {
  background-image: linear-gradient(
    transparent,
    rgba(0, 0, 0, 0.05) 40%,
    rgba(0, 0, 0, 0.1)
  );
}
.button:focus {
  outline: 0;
}

.button:active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset,
    0 0 6px rgba(0, 0, 0, 0.2) inset;
  border-color: #000;
}

.button.disabled,
.button.disabled:hover,
.button.disabled:focus,
.button.disabled:active {
  border: none;
  background-image: none;
  opacity: 0.4;
  cursor: not-allowed;
  box-shadow: none;
}

.success-message {
  border: 1px solid #4a4;
  background-color: #efe;
  color: #4a4;
  padding: 0.5em 1em;
  border-radius: 5px;
  margin-bottom: 10px;
}

.error-message {
  border: 1px solid #b44;
  background-color: #fdd;
  color: #b44;
  padding: 0.5em 1em;
  border-radius: 5px;
  margin-bottom: 10px;
}

.modal-form label {
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  width: 10em;
  margin-right: 1em;
}

.modal-form input {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 3px #ddd;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 5px;
}

.ui-component {
  padding: 0;
  margin-bottom: 0.5em;
}

.ui-component > .ui-component-header {
  background-color: #eee;
  border: solid 1px #ddd;
  border-radius: 10px 10px 0 0;
  padding: 4px;
}

.ui-component > .content {
  background-color: #fff;
  border: solid 1px #ddd;
  border-radius: 0 0 10px 10px;
  border-top: 0;
  padding: 10px;
}

.ui-component > .ui-component-header > h1 {
  display: inline-block;
  font-weight: 400;
  font-size: 1em;
  margin: 0;
  margin-left: 0.5em;
}

.ui-component > .content > h2 {
  display: inline-block;
  font-weight: 400;
  font-size: 1em;
  margin: 0;
  margin-bottom: 0.5em;
}

.charge-group-strips > ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.charge-group-strips > ul > li {
  display: table-row;
}

.charge-group-strips > ul > li > div {
  display: table-cell;
}

.ui-tree {
  padding: 10px;
  /* height: calc(100% - 20px); */
}

.ui-tree ul {
  list-style: none;
  padding-left: 1.3em;
  margin: 0;
}

.ui-tree > ul {
  padding-left: 0;
}

.ui-tree ul li {
  vertical-align: top;
}

.ui-tree .node-name {
  display: inline-block;
  white-space: nowrap;
  line-height: 1.5em;
  color: #1b6690;
}

.ui-tree .selected {
  font-weight: 600;
  color: #1b6690;
}

.ui-icon {
  color: #777;
}

.selected .ui-icon {
  color: inherit;
}

.ui-tree .node-icon {
  display: inline-block;
}

.ui-tree .node-name i {
  width: 1.25em;
  vertical-align: middle;
}

.clickable {
  cursor: pointer;
}

.ui-setting {
  position: relative;
  margin-bottom: 4px;
}

.ui-setting > label {
  display: inline-block;
  width: 11em;
  vertical-align: top;
}

.submenu-field-layout label,
.submenu-semy-layout label,
.submenu-tincture-modifiers label,
.submenu-fimbriation label,
.submenu-voided label,
.submenu-humetty label {
  width: 8em;
}

.submenu-attribution label {
  width: 11em;
}

.submenu-line label {
  width: 11em;
}

.submenu-geometry label {
  width: 8em;
}

.submenu-position label,
.submenu-strip-form label,
.submenu-segment-form label {
  width: 6em;
}

.ui-setting > label.for-checkbox {
  width: inherit;
}

.ui-setting > .option {
  position: relative;
  display: inline-block;
}

.ui-submenu {
  position: absolute;
  width: 25em;
  min-height: 3em;
  z-index: 2;
  transform: translate(-7em, 0);
}

.ui-submenu h4 {
  margin: 0;
}

.ui-setting input[type="checkbox"],
.ui-setting input[type="radio"] {
  margin-left: 0px;
  margin-right: 5px;
}

.ui-hover-menu {
  position: relative;
}

.ui-hover-menu .ui-menu {
  position: absolute;
  display: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  z-index: 10;
  transform: translate(0, -1.1em);
}

.ui-menu-item {
  padding: 5px;
}

.ui-menu-item:hover {
  background-color: #eee;
}

ul.ui-menu {
  list-style: none;
  padding-left: 1.3em;
  margin: 0;
  padding-left: 0;
}

ul.ui-menu li {
  vertical-align: top;
  white-space: pre;
}

li.ui-menu-header {
  color: #000;
  font-weight: 600;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.tooltip {
  display: inline-block;
  position: relative;
  text-align: left;
}

.tooltip .bottom {
  min-width: 150px;
  top: 60px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 5px 10px;
  color: #444444;
  background-color: #eeeeee;
  font-weight: normal;
  font-size: 13px;
  border-radius: 8px;
  position: absolute;
  z-index: 99999999;
  box-sizing: border-box;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.8s;
  pointer-events: none;
}

.tooltip.info .bottom {
  top: 30px;
  font-weight: normal;
}

.tooltip:hover .bottom {
  visibility: visible;
  opacity: 1;
  white-space: normal;
}

.tooltip .bottom > i {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -12px;
  width: 24px;
  height: 12px;
  overflow: hidden;
}

.tooltip .bottom > i::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: 50%;
  transform: translate(-50%, 50%) rotate(45deg);
  background-color: #eeeeee;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

.tree ul {
  list-style: none;
  padding-left: 1.3em;
  margin: 0;
}

.tree > ul {
  padding-left: 0;
}

.tree ul li {
  vertical-align: top;
}

.tree .node-name {
  display: inline-block;
  white-space: nowrap;
  line-height: 1.5em;
}

.tree .selected {
  font-weight: 600;
  color: #1b6690;
}

.tree .node-icon {
  display: inline-block;
  width: 1.3em;
}

.tree .node-name i {
  width: 1.25em;
  vertical-align: middle;
}

.history-buttons {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
}

.history-buttons i {
  color: #1b6690;
  cursor: pointer;
  margin-left: 0.5em;
}

.history-buttons i.disabled {
  color: #ccc;
  cursor: default;
}

.filter-results {
  padding-inline-start: 0;
  margin: 0;
  display: inline-flex;
  flex-flow: row wrap;
  gap: 15px;
}

.filter-result-card-wrapper {
  display: inline-block;
  width: 300px;
  height: 300px;
}

.filter-result-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  border-radius: 15px;
  background-color: #fff;
  filter: drop-shadow(rgb(200, 200, 200) 0px 0px 5px);
}

.filter-result-card.selected {
  background-color: #fff8f0;
}

.filter-result-card-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 40px;
}

.filter-result-card-title {
  margin: auto 10px auto 10px;
  flex-grow: 4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.filter-result-card-owner {
  margin: auto 0 auto 10px;
}

.filter-result-card-owner a {
  display: block;
  width: 25px;
  height: 25px;
}
.filter-result-card-owner img {
  width: 25px;
  height: 25px;
}

.filter-result-card-preview {
  position: relative;
  display: block;
  width: 300px;
  height: 220px;
  text-decoration: none;
  cursor: pointer;
}

.filter-result-card-access {
  margin: auto 10px auto 0;
}

.filter-result-card-tags {
  margin: 10px 10px 10px 10px;
  white-space: nowrap;
}

.filter-result-card-tags .item-classification {
  float: right;
}

.filter-component {
  display: flex;
  flex-direction: column;
}

.filter-component-search {
}

.filter-component-filters {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.filter-component-results {
  overflow-y: auto;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.filter-component-show-more {
}

.filter-component-show-more button {
  display: block;
  margin: auto;
  white-space: nowrap;
}
