{:heraldry-api-endpoint #profile {:local "http://localhost:4000/local/api"}
 :stage #profile {:local "local"
                  :prod "prod"}
 :heraldry-url #profile {:local "http://localhost:8181"}
 :cognito-pool-config #profile {:local {:UserPoolId "eu-central-1_eHwF2byeJ"
                                        :ClientId "2v90eij0l4aluf2amqumqh9gko"
                                        :jwksUri "https://cognito-idp.eu-central-1.amazonaws.com/eu-central-1_eHwF2byeJ/.well-known/jwks.json"}}}
