{:armory-api-endpoint #profile {:local "http://localhost:4000/local/api"
                                :dev   "..."}
 :stage               #profile {:local "local"
                                :dev   "dev"
                                :prod  "prod"}
 :armory-url          #profile {:local "http://localhost:8181"}}
