{:heraldry-api-endpoint #profile {:local "http://localhost:4000/local/api"
                                  :prod "https://2f1yb829vl.execute-api.eu-central-1.amazonaws.com/api"}
 :stage #profile {:local "local"
                  :prod "prod"}
 :heraldry-url #profile {:local "http://localhost:8081"
                         :prod "https://heraldry.digital"}
 :cognito-pool-config #profile {:local {:UserPoolId "eu-central-1_eHwF2byeJ"
                                        :ClientId "2v90eij0l4aluf2amqumqh9gko"
                                        :jwksUri "https://cognito-idp.eu-central-1.amazonaws.com/eu-central-1_eHwF2byeJ/.well-known/jwks.json"}
                                :prod {:UserPoolId "eu-central-1_WXqnJUEOT"
                                       :ClientId "21pvp6cc4l3gptoj4bl3jc9s7r"
                                       :jwksUri "https://cognito-idp.eu-central-1.amazonaws.com/eu-central-1_WXqnJUEOT/.well-known/jwks.json"}}
 :fleur-de-lis-charge-id #profile {:local "charge:RnHzw8"
                                   :prod "charge:ZfqrIl"}}
