html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.setting {
  position: relative;
  margin-bottom: 5px;
}

.setting > select,
.setting > input,
.setting > .other {
  position: absolute;
  left: 6em;
}

.setting > select {
  left: 7.2em;
}

.form {
  display: inline-block;
  margin: 10px;
  vertical-align: top;
}

.preview {
  display: inline-block;
  border: 1px solid #ddd;
  width: 30em;
  height: 30em;
  padding: 10px;
  margin: 10px;
}

.preview > svg {
  width: calc(100% - 20px);
}

.buttons {
  margin-top: 2em;
}

.buttons button {
  margin-right: 1em;
}
