html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.field {
  position: relative;
  margin-bottom: 5px;
}

.field > select,
.field > input,
.field > .other {
  position: absolute;
  left: 6em;
}

.field > select {
  left: 7.2em;
}

.form {
  display: inline-block;
  margin: 10px;
  vertical-align: top;
}

.preview {
  display: inline-block;
  border: 1px solid #ddd;
  width: 30em;
  height: 30em;
  padding: 10px;
  margin: 10px;
}

.preview > svg {
  width: calc(100% - 20px);
}

.buttons {
  margin-top: 2em;
}

.buttons button {
  margin-right: 1em;
}

.form .error-top p.error-message {
  border: 1px solid #b44;
  background-color: #fdd;
  color: #b44;
  padding: 5px;
  margin-left: 9em;
  width: 60%;
  min-width: 20em;
}

.form .error p.error-message {
  color: #b44;
  margin-left: 9em;
  margin-top: 0.2em;
}
