html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

p {
  margin: 0;
}

.field {
  position: relative;
  margin-bottom: 5px;
}

.field > select,
.field > input,
.field > .other {
  position: absolute;
  left: 9em;
}

.form {
  display: inline-block;
  margin: 10px;
  vertical-align: top;
}

.preview {
  display: inline-block;
  border: 1px solid #ddd;
  width: 30em;
  height: 30em;
  padding: 10px;
  margin: 10px;
}

.preview > svg {
  width: calc(100% - 20px);
}

.buttons {
  margin-top: 2em;
}

.buttons button {
  margin-right: 1em;
}

.form .error-top p.error-message {
  border: 1px solid #b44;
  background-color: #fdd;
  color: #b44;
  padding: 5px;
  width: 60%;
  min-width: 20em;
}

.form .error p.error-message {
  color: #b44;
  margin-top: 0.2em;
}

.form.login {
  display: block;
  width: 20em;
  border: 1px solid #ddd;
  padding: 0.5em;
  position: absolute;
  left: 50%;
  top: 25%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

a,
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}

a,
a:hover,
a:visited {
  color: #1b6690;
}

a:hover {
  cursor: pointer;
}
